<div ng-controller="CrearCuentaCorrienteController">
<fieldset>
    <legend>Crear cuenta corriente</legend>
</fieldset>
<tabset>
<tab heading="Cuenta de corriente" select="tabCuentaSelected()">
<br/>
<div>
<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
    <span ng-bind-html="alert.msg"></span>
</alert>

<form ng-submit="crearCuenta()" novalidate>
<ng-form name="$parent.formCrearCuenta">
<fieldset>
    <legend>Socio</legend>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error' : formCrearCuenta.tipoPersona.$invalid && control.submitted}">
                <label>Tipo persona</label>
                <select focus-on="firstFocus" id="cmbTipoPersona" name="tipoPersona" ng-options="tipoPersona.denominacion as tipoPersona.denominacion for tipoPersona in tipoPersonas" ng-model="transaccion.tipoPersona" ng-change="tipoPersonaChange()" class="form-control" required autofocus>
                </select>
                <div ng-show="formCrearCuenta.tipoPersona.$invalid && control.submitted">
                    <p class="help-block" ng-show="formCrearCuenta.tipoPersona.$error.required">
                        Ingrese tipo persona.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error' : formCrearCuenta.tipoDocumento.$invalid && control.submitted}">
                <label>Tipo documento</label>
                <select name="tipoDocumento" ng-options="tipoDocumento.id as tipoDocumento.abreviatura for tipoDocumento in tipoDocumentos" ng-model="transaccion.idTipoDocumento" class="form-control" required>
                </select>
                <div ng-show="formCrearCuenta.tipoDocumento.$invalid && control.submitted">
                    <p class="help-block" ng-show="formCrearCuenta.tipoDocumento.$error.required">
                        Ingrese tipo documento.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error' : formCrearCuenta.numeroDocumento.$invalid && control.submitted}">
                <label>Numero documento</label>
                <input type="text" name="numeroDocumento" ui-keypress="{13:'buscarPersonaSocio($event)'}" ng-model="transaccion.numeroDocumento" ng-minlength="1" ng-maxlength="20" ng-pattern="/^[0-9]+$/" class="form-control" placeholder="Numero documento" required/>
                <div ng-show="formCrearCuenta.numeroDocumento.$invalid && control.submitted">
                    <p class="help-block" ng-show="formCrearCuenta.numeroDocumento.$error.required">
                        Ingrese numero documento valido.
                    </p>
                    <p class="help-block" ng-show="formCrearCuenta.numeroDocumento.$error.minlength">
                        Minimo 1 caracter.
                    </p>
                    <p class="help-block" ng-show="formCrearCuenta.numeroDocumento.$error.maxlength">
                        Maximo 20 caracteres.
                    </p>
                    <p class="help-block" ng-show="formCrearCuenta.numeroDocumento.$error.pattern">
                        Numero documento invalido.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label>&nbsp;</label>
                <div class="input-group">
                    <button type="button" ng-click="buscarPersonaSocio($event)" class="btn btn-primary">Buscar</button>
                    <button type="button" ng-click="crearPersona()" class="btn btn-link">Nueva persona</button>
                </div>
            </div>
        </div>
    </div>
</fieldset>
<fieldset>
    <legend>Datos de la cuenta</legend>
    <div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group" ng-class="{ 'has-error' : formCrearCuenta.moneda.$invalid && control.submitted}">
                    <label>Moneda</label>
                    <select name="moneda" ng-options="moneda.id as moneda.denominacion for moneda in monedas" ng-model="transaccion.idMoneda" ng-change="actualizarTasaInteres()" class="form-control" required>
                    </select>
                    <div ng-show="formCrearCuenta.moneda.$invalid && control.submitted">
                        <p class="help-block" ng-show="formCrearCuenta.moneda.$error.required">
                            Ingrese tipo moneda.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group" ng-class="{ 'has-error' : formCrearCuenta.cantRetirantes.$invalid && control.submitted}">
                    <label>Cantidad retirantes</label>
                    <input type="number" name="cantRetirantes" ng-model="transaccion.cantRetirantes" ng-minlength="1" ng-maxlength="1" ng-pattern="/^[0-9]+$/" class="form-control" placeholder="Cantidad" required/>
                    <div ng-show="formCrearSocio.cantRetirantes.$invalid && control.submitted">
                        <p class="help-block" ng-show="formCrearSocio.cantRetirantes.$error.required">
                            Ingrese numero valido.
                        </p>
                        <p class="help-block" ng-show="formCrearSocio.cantRetirantes.$error.maxlength">
                            Maximo 1 caracter.
                        </p>
                        <p class="help-block" ng-show="formCrearSocio.cantRetirantes.$error.pattern">
                            Numero invalido.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Tasa de interes</label>
                    <kbd style="display: block;margin-top: 0px; min-height: 34px;padding-top: 8px;padding-left: 10px;">
                        <span ng-bind="(transaccion.tasaInteres * 100)| number : 3"/>
                    </kbd>
                </div>
            </div>
        </div>
    </div>
</fieldset>

<fieldset>
    <legend>Resumen</legend>
    <div>
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Socio</div>
                    <div class="panel-body" ng-show="socioNatural && socioJuridico">
                        <p>Socio no encontrado</p>
                    </div>
                    <table class="table table-condensed" ng-show="socioNatural">
                        <tbody>
                        <tr>
                            <td>Documento:</td>
                            <td colspan="3"><span ng-bind-template="{{socioNatural.tipoDocumento.abreviatura}}/{{socioNatural.numeroDocumento}}"></span></td>
                        </tr>
                        <tr>
                            <td>Socio:</td>
                            <td colspan="3"><span ng-bind-template="{{socioNatural.apellidoPaterno}} {{socioNatural.apellidoMaterno}},{{socioNatural.nombres}}"></span></td>
                        </tr>
                        <tr>
                            <td>F. nac.:</td>
                            <td><span ng-bind="socioNatural.fechaNacimiento | date : 'dd/MM/yyyy'"></span></td>
                        </tr>
                        <tr>
                            <td>Sexo:</td>
                            <td><span ng-bind="socioNatural.sexo"></span></td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-condensed" ng-show="socioJuridico">
                        <tbody>
                        <tr>
                            <td>Documento:</td>
                            <td colspan="3"><span ng-bind-template="{{socioJuridico.tipoDocumento.abreviatura}}/{{socioJuridico.numeroDocumento}}"></span></td>
                        </tr>
                        <tr>
                            <td>Socio:</td>
                            <td colspan="3"><span ng-bind="socioJuridico.razonSocial"></span></td>
                        </tr>
                        <tr>
                            <td>F. constitucion.:</td>
                            <td><span ng-bind="socioJuridico.fechaConstitucion | date : 'dd/MM/yyyy'"></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-heading">Titulares</div>
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th>Documento</th>
                            <th>Ap. y nombres</th>
                            <th>F. nacimiento</th>
                            <th>Sexo</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="titular in titularesFinal | unique">
                            <td><span ng-bind-template="{{titular.tipoDocumento.abreviatura}}/{{titular.numeroDocumento}}"></span></td>
                            <td><span ng-bind-template="{{titular.apellidoPaterno}} {{titular.apellidoMaterno}}, {{titular.nombres}}"></span></td>
                            <td><span ng-bind="titular.fechaNacimiento | date : 'dd/MM/yyyy'"></span></td>
                            <td><span ng-bind="titular.sexo"></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Beneficiarios</div>
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th>Documento</th>
                            <th>Ap. y nombres</th>
                            <th>Porcentaje</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="beneficiario in beneficiarios | unique">
                            <td><span ng-bind="beneficiario.numeroDocumento"></span></td>
                            <td><span ng-bind-template="{{beneficiario.apellidoPaterno}} {{beneficiario.apellidoMaterno}}, {{beneficiario.nombres}}"></span></td>
                            <td><span ng-bind="beneficiario.porcentajeBeneficio"></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</fieldset>
<button type="submit" class="btn btn-primary">Guardar</button>
<button type="button" class="btn btn-default">Cancelar</button>
</ng-form>
</form>
</div>
</tab>
<tab heading="Titulares" select="tabTitularSelected()">
    <div ng-include="'modules/caja/views/cuenta/titular.html'"></div>
</tab>
<tab heading="Beneficiarios" select="tabBeneficiarioSelected()">
    <div ng-include="'modules/caja/views/cuenta/beneficiario.html'"></div>
</tab>
</tabset>
</div>