<div ng-controller="CrearCuentaBancariaController">
    <fieldset>
        <legend>Crear cuenta bancaria</legend>
        <div>
            <div class="radio-inline">
                <label>
                    <input type="radio" ng-model="cuentaSelected" ng-value="cuentaAhorro" autofocus>
                    Cuenta de Ahorro
                </label>
            </div>
            <div class="radio-inline">
                <label>
                    <input type="radio" ng-model="cuentaSelected" ng-value="cuentaCorriente">
                    Cuenta corriente
                </label>
            </div>
            <div class="radio-inline">
                <label>
                    <input type="radio" ng-model="cuentaSelected" ng-value="cuentaPlazoFijo">
                    Cuenta plazo fijo
                </label>
            </div>
        </div>
        <div>
            <div ng-include="cuentaSelected"></div>
        </div>
    </fieldset>
</div>