<div ng-controller="TitularController">
   <form name="formTitular" ng-submit="addPersona()" novalidate>
       <fieldset>
           <legend>Datos de titular</legend>
           <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
               <span ng-bind-html="alert.msg"></span>
           </alert>
           <div>
               <div class="row">
                   <div class="col-sm-4">
                       <div class="form-group" ng-class="{ 'has-error' : formTitular.tipoDocumento.$invalid && control.submitted}">
                           <label>Tipo documento</label>
                           <select id="cmbTipoDocumentoTitular" name="tipoDocumento" ng-options="tipoDocumento.id as tipoDocumento.abreviatura for tipoDocumento in tipoDocumentos" ng-model="persona.idTipoDocumento" class="form-control" required autofocus>
                           </select>
                           <div ng-show="formTitular.tipoDocumento.$invalid && control.submitted">
                               <p class="help-block" ng-show="formTitular.tipoDocumento.$error.required">
                                   Ingrese tipo documento.
                               </p>
                           </div>
                       </div>
                   </div>
                   <div class="col-sm-4">
                       <div class="form-group" ng-class="{ 'has-error' : formTitular.numeroDocumento.$invalid && control.submitted}">
                           <label>Numero documento</label>
                           <input type="text" name="numeroDocumento" ng-model="persona.numeroDocumento" ng-minlength="1" ng-maxlength="20" ng-pattern="/^[0-9]+$/" class="form-control" placeholder="Numero documento" required/>
                           <div ng-show="formTitular.numeroDocumento.$invalid && control.submitted">
                               <p class="help-block" ng-show="formTitular.numeroDocumento.$error.required">
                                   Ingrese numero documento valido.
                               </p>
                               <p class="help-block" ng-show="formTitular.numeroDocumento.$error.minlength">
                                   Minimo 1 caracter.
                               </p>
                               <p class="help-block" ng-show="formTitular.numeroDocumento.$error.maxlength">
                                   Maximo 20 caracteres.
                               </p>
                               <p class="help-block" ng-show="formTitular.numeroDocumento.$error.pattern">
                                   Numero documento invalido.
                               </p>
                           </div>
                       </div>
                   </div>
                   <div class="col-sm-4">
                       <div class="form-group">
                           <label>&nbsp;</label>
                           <div>
                               <button type="submit" class="btn btn-primary">Añadir</button>
                               <button type="button" class="btn btn-default" ng-click="clear()">Limpiar</button>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </fieldset>
   </form>
    <fieldset>
        <legend>Lista de titulares</legend>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th>Num. doc.</th>
                            <th>Ap. paterno</th>
                            <th>Ap. materno</th>
                            <th>Nombres</th>
                            <th>F.nacimiento</th>
                            <th>Sexo</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="persona in personas">
                            <td><span ng-bind-template="{{persona.tipoDocumento.abreviatura}}/{{persona.numeroDocumento}}"/></td>
                            <td><span ng-bind="persona.apellidoPaterno"/></td>
                            <td><span ng-bind="persona.apellidoMaterno"/></td>
                            <td><span ng-bind="persona.nombres"/></td>
                            <td><span ng-bind="persona.fechaNacimiento | date : 'dd/MM/yyyy'"/></td>
                            <td><span ng-bind="persona.sexo"/></td>
                            <td><button type="button" ng-click="removePersona($index)" class="btn btn-danger btn-xs">Delete</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </fieldset>
</div>