<div ng-controller="CrearTransaccionDepositoRetiroController">
    <fieldset>
        <legend>Transaccion Deposito / Retiro</legend>

        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
            <span ng-bind="alert.msg"></span>
        </alert>

        <form name="formCrearTransaccion" ng-submit="crearTransaccion()" novalidate>

            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title" style="font-weight: bold;">Datos de la Transacci&oacute;n</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group" ng-class="{ 'has-error' : formCrearTransaccion.numeroCuenta.$invalid && control.submitted}">
                                        <label>N&uacute;mero Cuenta</label>
                                        <div class="input-group">
                                            <input type="text" name="numeroCuenta" ng-model="transaccion.numeroCuenta" class="form-control" placeholder="N&uacute;mero de Cuenta" readonly required autofocus/>
                                              <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="openBuscarCuentaBancaria()">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </button>
                                              </span>
                                        </div>
                                        <div ng-show="formCrearTransaccion.numeroCuenta.$invalid && control.submitted">
                                            <p class="help-block" ng-show="formCrearTransaccion.numeroCuenta.$error.required">
                                                Ingrese N&uacute;mero de Cuenta.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group" ng-class="{ 'has-error' : formCrearTransaccion.tipotransaccion.$invalid && control.submitted}">
                                        <label>Tipo Transacci&oacute;n</label>
                                        <select id="cmbTipoTransaccion" name="tipotransaccion" ng-options="tipotransaccion as tipotransaccion.denominacion for tipotransaccion in tipotransacciones" ng-model="transaccion.tipoTransaccion" class="form-control" required>
                                        </select>
                                        <div ng-show="formCrearTransaccion.tipotransaccion.$invalid && control.submitted">
                                            <p class="help-block" ng-show="formCrearTransaccion.tipotransaccion.$error.required">
                                                Ingrese Tipo Transacci&oacute;n.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group" ng-class="{ 'has-error' : formCrearTransaccion.monto.$invalid && control.submitted}">
                                        <label>Monto</label>
                                        <div class="input-group">
                                            <input type="text" name="monto" ng-model="transaccion.monto" class="form-control" placeholder="Monto" required/>
                                              <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="openCalculadora()" ng-disabled="transaccion.numeroCuenta === undefined">
                                                    <span class="glyphicon glyphicon-th-list"></span>
                                                </button>
                                              </span>
                                        </div>
                                        <div ng-show="formCrearTransaccion.monto.$invalid && control.submitted">
                                            <p class="help-block" ng-show="formCrearTransaccion.monto.$error.required">
                                                Ingrese monto valido.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>&nbsp;</label>
                                        <kbd style="display: block;margin-top: 3px;">
                                            <span ng-bind="cuenta.moneda.simbolo"/>
                                            <span ng-bind="transaccion.montoReal | number : 2"/>
                                        </kbd>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group" ng-class="{ 'has-error' : formCrearTransaccion.referencia.$invalid && formCrearTransaccion.submitted}">
                                        <label>Referencia</label>
                                        <textarea name="referencia" class="form-control" rows="3" ng-model="transaccion.referencia" placeholder="Referencia"></textarea>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary" ng-disabled="buttonDisableState()">Guardar</button>
                            <button type="button" class="btn btn-default" ng-click="cancel()">Cancelar</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-default">
                                <div class="panel-heading"><h3 class="panel-title" style="font-weight: bold;">Cuenta Bancaria</h3></div>
                                <table class="table">
                                    <tr>
                                        <td style="font-weight: bold;">Socio:</td>
                                        <td><span ng-bind="cuenta.socio"></span></td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold;">Tipo y N&deg; Doc.:</td>
                                        <td><span ng-bind-template="{{cuenta.tipoDocumento}}/{{cuenta.numeroDocumento}}"></span></td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold;">Tipo Cuenta:</td>
                                        <td><span ng-bind="cuenta.tipoCuenta"></span></td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold;">N&deg; Cuenta:</td>
                                        <td><span ng-bind="cuenta.numeroCuenta"></span></td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold;">
                                            <span class="visible-sm visible-lg">✔ Moneda:</span>
                                        </td>
                                        <td>
                                            <span class="label label-info">Info</span>
                                            <span ng-bind="cuenta.moneda.denominacion"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold;">Estado Cuenta:</td>
                                        <td><span ng-bind="cuenta.estadoCuenta"></span></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-default">
                                <div class="panel-heading"><h3 class="panel-title" style="font-weight: bold;">Titulares</h3></div>
                                <table class="table table-condensed table-striped">
                                    <tr ng-repeat="titular in titulares | filter:{ estado: true }">
                                        <td><span ng-bind-template="{{titular.personaNatural.tipoDocumento.abreviatura}}/{{titular.personaNatural.numeroDocumento}}"></span></td>
                                        <td><span ng-bind-template="{{titular.personaNatural.apellidoPaterno}}&nbsp;{{titular.personaNatural.apellidoMaterno}},{{titular.personaNatural.nombres}}"></span></td>
                                        <td>
                                            <button type="button" ng-click="showFirma($index)" class="btn btn-info btn-xs">
                                                <span class="glyphicon glyphicon-picture"></span> Firma
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </form>
    </fieldset>
</div>
