<div ng-controller="CrearCuentaBancariaController">
    <fieldset>
        <legend style="text-align: center;">Crear Cuenta Bancaria</legend>
        <div>
            <div class="radio-inline">
                <label>
                    <input type="radio" ng-model="cuentaSelected" ng-value="cuentaAhorro" autofocus>
                    Cuenta de Ahorro
                </label>
            </div>
            <div class="radio-inline">
                <label>
                    <input type="radio" ng-model="cuentaSelected" ng-value="cuentaPlazoFijo">
                    Cuenta Plazo Fijo
                </label>
            </div>
            <div class="radio-inline">
                <label>
                    <input type="radio" ng-model="cuentaSelected" ng-value="cuentaCorriente">
                    Cuenta Corriente
                </label>
            </div>
        </div>
        <div>
            <div ng-include="cuentaSelected"></div>
        </div>
    </fieldset>
</div>