<div ng-controller="CrearCuentaAhorroController">
<fieldset>
    <legend>Crear cuenta de ahorro</legend>
</fieldset>
<tabset>
<tab heading="Cuenta de ahorro" select="tabCuentaSelected()">
<br/>
<div>
<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
    <span ng-bind-html="alert.msg"></span>
</alert>

<form ng-submit="crearCuenta()" novalidate>
<ng-form name="$parent.formCrearCuenta">
<fieldset>
    <legend>Socio</legend>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error' : formCrearCuenta.tipoPersona.$invalid && control.submitted}">
                <label>Tipo persona(*)</label>
                <select focus-on="firstFocus" id="cmbTipoPersona" name="tipoPersona" ng-options="tipoPersona.denominacion as tipoPersona.denominacion for tipoPersona in tipoPersonas" ng-model="transaccion.tipoPersona" ng-change="tipoPersonaChange()" class="form-control" required autofocus>
                </select>
                <div ng-show="formCrearCuenta.tipoPersona.$invalid && control.submitted">
                    <p class="help-block" ng-show="formCrearCuenta.tipoPersona.$error.required">
                        Ingrese tipo persona.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error' : formCrearCuenta.tipoDocumento.$invalid && control.submitted}">
                <label>Tipo documento(*)</label>
                <select name="tipoDocumento" ng-options="tipoDocumento as tipoDocumento.abreviatura for tipoDocumento in tipoDocumentos | orderBy : 'id'" ng-model="transaccion.tipoDocumento" class="form-control" required>
                </select>
                <div ng-show="formCrearCuenta.tipoDocumento.$invalid && control.submitted">
                    <p class="help-block" ng-show="formCrearCuenta.tipoDocumento.$error.required">
                        Ingrese tipo documento.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error' : (control.errorForm.numeroDocumento || formCrearCuenta.numeroDocumento.$invalid) && (formCrearCuenta.numeroDocumento.$dirty || control.submitted)}">
                <label>Numero documento(*)</label>
                <div class="input-group">
                    <input type="text" name="numeroDocumento" ui-keypress="{13:'buscarPersonaSocio($event)'}" ng-model="transaccion.numeroDocumento" ng-minlength="1" ng-maxlength="20" ng-pattern="/^[0-9]+$/" class="form-control" placeholder="Numero documento" required/>
                     <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="buscarPersonaSocio()" >
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                     </span>
                </div>
                <div ng-show="formCrearCuenta.numeroDocumento.$invalid && control.submitted">
                    <p class="help-block" ng-show="formCrearCuenta.numeroDocumento.$error.required">
                        Ingrese numero documento valido.
                    </p>
                    <p class="help-block" ng-show="formCrearCuenta.numeroDocumento.$error.minlength">
                        Minimo 1 caracter.
                    </p>
                    <p class="help-block" ng-show="formCrearCuenta.numeroDocumento.$error.maxlength">
                        Maximo 20 caracteres.
                    </p>
                    <p class="help-block" ng-show="formCrearCuenta.numeroDocumento.$error.pattern">
                        Numero documento invalido.
                    </p>
                </div>
                <div ng-show="formCrearCuenta.numeroDocumento.$dirty && control.errorForm.numeroDocumento">
                    <p class="help-block" ng-show="formCrearCuenta.numeroDocumento ">
                        Debe tener <span ng-bind="transaccion.tipoDocumento.numeroCaracteres"></span> caracteres.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4" ng-show="!socioNatural && !socioJuridico">
            <div class="form-group">
                <label>&nbsp;</label>
                <div class="input-group">
                    <button type="button" ng-click="crearPersona()" class="btn btn-link">Registrar persona</button>
                </div>
            </div>
        </div>
    </div>
</fieldset>
<fieldset>
    <legend>Datos de la cuenta</legend>
    <div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group" ng-class="{ 'has-error' : formCrearCuenta.moneda.$invalid && control.submitted}">
                    <label>Moneda(*)</label>
                    <select name="moneda" ng-options="moneda as moneda.denominacion for moneda in monedas | orderBy : 'id'" ng-model="transaccion.moneda" ng-change="monedaChange()" class="form-control" required>
                    </select>
                    <div ng-show="formCrearCuenta.moneda.$invalid && control.submitted">
                        <p class="help-block" ng-show="formCrearCuenta.moneda.$error.required">
                            Ingrese tipo moneda.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group" ng-class="{ 'has-error' : (control.errorForm.cantRetirantes || formCrearCuenta.cantRetirantes.$invalid) && (formCrearCuenta.cantRetirantes.$dirty|| control.submitted)}">
                    <label>Cantidad retirantes(*)</label>
                    <input type="number" name="cantRetirantes" ng-model="transaccion.cantRetirantes" ng-minlength="1" ng-maxlength="1" ng-pattern="/^[0-9]+$/" class="form-control" placeholder="Cantidad" required/>
                    <div ng-show="formCrearCuenta.cantRetirantes.$invalid && formCrearCuenta.cantRetirantes.$dirty">
                        <p class="help-block" ng-show="formCrearCuenta.cantRetirantes.$error.required">
                            Ingrese numero valido.
                        </p>
                        <p class="help-block" ng-show="formCrearCuenta.cantRetirantes.$error.maxlength">
                            Maximo 1 caracter.
                        </p>
                        <p class="help-block" ng-show="formCrearCuenta.cantRetirantes.$error.pattern">
                            Numero invalido.
                        </p>
                    </div>
                    <div ng-show="(formCrearCuenta.cantRetirantes.$dirty || control.submitted) && control.errorForm.cantRetirantes">
                        <p class="help-block" ng-show="control.errorForm.cantRetirantes">
                            Numero invalido.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Tasa de interes
                        <button type="button" ng-click="openLoginPopUp()" class="btn btn-link" style="padding: 0px 12px;">Editar</button>
                    </label>
                    <kbd ng-show="!login.result" style="display: block;margin-top: 0px; min-height: 32px;padding-top: 8px;padding-left: 10px;">
                        <span ng-bind="(transaccion.tasaInteres * 100)| number : 3"/>
                    </kbd>
                    <div ng-if="login.result" ng-class="{ 'has-error' : formCrearCuenta.tasaInteresEdited.$invalid }">
                        <div class="input-group">
                            <input type="text" name="tasaInteresEdited" ui-keypress="{13:'setTasaInteres($event)'}" ng-model="login.tasaInteres" ng-minlength="1" ng-maxlength="6" class="form-control" placeholder="Tasa interes" required/>
                             <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="setTasaInteres()" >
                                    <span class="glyphicon glyphicon-ok"></span>
                                </button>
                             </span>
                        </div>
                        <div ng-show="formCrearCuenta.tasaInteresEdited.$invalid">
                            <p class="help-block" ng-show="formCrearCuenta.tasaInteresEdited.$error.required">
                                Ingrese tasa.
                            </p>
                            <p class="help-block" ng-show="formCrearCuenta.tasaInteresEdited.$error.minlength">
                                Minimo 1 caracter.
                            </p>
                            <p class="help-block" ng-show="formCrearCuenta.tasaInteresEdited.$error.maxlength">
                                Maximo 6 caracteres.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</fieldset>

<fieldset>
    <legend>Resumen</legend>
    <div>
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Socio</div>
                    <div class="panel-body" ng-show="!socioNatural && !socioJuridico">
                        <p>Socio no encontrado</p>
                    </div>
                    <table class="table table-condensed" ng-show="socioNatural">
                        <tbody>
                        <tr>
                            <td>Documento:</td>
                            <td colspan="3"><span ng-bind-template="{{socioNatural.tipoDocumento.abreviatura}}/{{socioNatural.numeroDocumento}}"></span></td>
                        </tr>
                        <tr>
                            <td>Socio:</td>
                            <td colspan="3"><span ng-bind-template="{{socioNatural.apellidoPaterno}} {{socioNatural.apellidoMaterno}},{{socioNatural.nombres}}"></span></td>
                        </tr>
                        <tr>
                            <td>F. nac.:</td>
                            <td><span ng-bind="socioNatural.fechaNacimiento | date : 'dd/MM/yyyy'"></span></td>
                        </tr>
                        <tr>
                            <td>Sexo:</td>
                            <td><span ng-bind="socioNatural.sexo"></span></td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-condensed" ng-show="socioJuridico">
                        <tbody>
                        <tr>
                            <td>Documento:</td>
                            <td colspan="3"><span ng-bind-template="{{socioJuridico.tipoDocumento.abreviatura}}/{{socioJuridico.numeroDocumento}}"></span></td>
                        </tr>
                        <tr>
                            <td>Socio:</td>
                            <td colspan="3"><span ng-bind="socioJuridico.razonSocial"></span></td>
                        </tr>
                        <tr>
                            <td>F. constitucion.:</td>
                            <td><span ng-bind="socioJuridico.fechaConstitucion | date : 'dd/MM/yyyy'"></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-heading">Titulares</div>
                    <div class="panel-body" ng-show="titularesFinal.length == 0">
                        <p>Titulares no existentes.</p>
                    </div>
                    <table class="table table-condensed" ng-show="titularesFinal.length != 0">
                        <thead>
                        <tr>
                            <th>Documento</th>
                            <th>Ap. y nombres</th>
                            <th>F. nacimiento</th>
                            <th>Sexo</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="titular in titularesFinal | unique">
                            <td><span ng-bind-template="{{titular.tipoDocumento.abreviatura}}/{{titular.numeroDocumento}}"></span></td>
                            <td><span ng-bind-template="{{titular.apellidoPaterno}} {{titular.apellidoMaterno}}, {{titular.nombres}}"></span></td>
                            <td><span ng-bind="titular.fechaNacimiento | date : 'dd/MM/yyyy'"></span></td>
                            <td><span ng-bind="titular.sexo"></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Beneficiarios</div>
                    <div class="panel-body" ng-show="beneficiarios.length == 0">
                        <p>Beneficiarios no existentes.</p>
                    </div>
                    <table class="table table-condensed" ng-show="beneficiarios.length != 0">
                        <thead>
                        <tr>
                            <th>Documento</th>
                            <th>Ap. y nombres</th>
                            <th>Porcentaje</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="beneficiario in beneficiarios | unique">
                            <td><span ng-bind="beneficiario.numeroDocumento"></span></td>
                            <td><span ng-bind-template="{{beneficiario.apellidoPaterno}} {{beneficiario.apellidoMaterno}}, {{beneficiario.nombres}}"></span></td>
                            <td><span ng-bind="beneficiario.porcentajeBeneficio"></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</fieldset>
<button type="submit" class="btn btn-primary">Guardar</button>
<button type="button" class="btn btn-default">Cancelar</button>
</ng-form>
</form>
</div>
</tab>
<tab heading="Titulares" select="tabTitularSelected()">
    <div ng-include="'views/cajero/cuentaBancaria/titular.html'"></div>
</tab>
<tab heading="Beneficiarios" select="tabBeneficiarioSelected()">
    <div ng-include="'views/cajero/cuentaBancaria/beneficiario.html'"></div>
</tab>
</tabset>
</div>