<div>
    <!--menu de operaciones-->
    <div class="row">
        <div class="col-sm-12" style="text-align: right;">
            <!-- Contextual button for informational alert messages -->
            <button type="button" class="btn btn-info">Renovar cuenta</button>
            <!-- Indicates caution should be taken with this action -->
            <button type="button" class="btn btn-warning">Congelar cuenta</button>
            <!-- Indicates a dangerous or potentially negative action -->
            <button type="button" class="btn btn-danger">Cancelar cuenta</button>
        </div>
    </div>
    <br/>
    <div class="row">
        <!--Datos de socio-->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">Socio</div>
                <div class="panel-body">
                    <p>...</p>
                </div>
                <table class="table">
                    ...
                </table>
            </div>
        </div>
        <!--Datos de cuenta-->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">Cuenta bancaria</div>
                <div class="panel-body">
                    <p>...</p>
                </div>
                <table class="table">
                    ...
                </table>
            </div>
        </div>
    </div>
    <!-- estado de cuenta-->
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Estado cuenta</div>
                <div class="panel-body">
                    <p>...</p>
                </div>
                <table class="table">
                    ...
                </table>
            </div>
        </div>
    </div>
</div>