<div ng-controller="CrearPersonaJuridicaController">
<fieldset>
<legend>Crear persona juridica <h6>Los campos marcados con (*) son obligatorios</h6></legend>
<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
    <span ng-bind-html="alert.msg"></span>
</alert>
<tabset>
<tab heading="Persona juridica">
<ng-form name="$parent.formCrearPersonaJuridica">
<fieldset>
    <legend>Datos principales</legend>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error' : formCrearPersonaJuridica.tipodocumento.$invalid && control.submitted}">
                <label>Tipo documento(*)</label>
                <select name="tipodocumento" ng-options="tipodocumento.id as tipodocumento.abreviatura for tipodocumento in tipoDocumentosPJ" ng-model="personaJuridica.tipoDocumento.id" class="form-control" required autofocus>
                </select>
                <div ng-show="formCrearPersonaJuridica.tipodocumento.$invalid && control.submitted">
                    <p class="help-block" ng-show="formCrearPersonaJuridica.tipodocumento.$error.required">
                        Ingrese tipo documento.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error' : formCrearPersonaJuridica.numerodocumento.$invalid && control.submitted}">
                <label>Nro documento(*)</label>
                <input name="numerodocumento" type="text" ng-model="personaJuridica.numeroDocumento" ng-pattern="/^[0-9]+$/" ng-minlength="1" ng-maxlength="20" class="form-control" placeholder="Nro documento" required/>
                <div ng-show="formCrearPersonaJuridica.numerodocumento.$invalid && control.submitted">
                    <p class="help-block" ng-show="formCrearPersonaJuridica.numerodocumento.$error.required">
                        Ingrese numero de documento.
                    </p>
                    <p class="help-block" ng-show="formCrearPersonaJuridica.numerodocumento.$error.minlength">
                        Minimo 1 caracter.
                    </p>
                    <p class="help-block" ng-show="formCrearPersonaJuridica.numerodocumento.$error.maxlength">
                        Maximo 20 caracteres.
                    </p>
                    <p class="help-block" ng-show="formCrearPersonaJuridica.numerodocumento.$error.pattern">
                        Numero de documento no valido.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error' : formCrearPersonaJuridica.razonSocial.$invalid && control.submitted}">
                <label>Razon social(*)</label>
                <input name="razonSocial" type="text" ng-model="personaJuridica.razonSocial" ng-minlength="1" ng-maxlength="40" class="form-control" placeholder="Razon social" required/>
                <div ng-show="formCrearPersonaJuridica.numerodocumento.$invalid && control.submitted">
                    <p class="help-block" ng-show="formCrearPersonaJuridica.razonSocial.$error.required">
                        Ingrese razon social.
                    </p>
                    <p class="help-block" ng-show="formCrearPersonaJuridica.razonSocial.$error.minlength">
                        Minimo 1 caracter.
                    </p>
                    <p class="help-block" ng-show="formCrearPersonaJuridica.razonSocial.$error.maxlength">
                        Maximo 40 caracteres.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error' : formCrearPersonaJuridica.nombreComercial.$invalid && control.submitted}">
                <label>Nombre comercial</label>
                <input name="nombreComercial" type="text" ng-model="personaJuridica.nombreComercial" ng-maxlength="40" class="form-control" placeholder="Nombre comercial"/>
                </select>
                <div ng-show="formCrearPersonaJuridica.nombreComercial.$invalid && control.submitted">
                    <p class="help-block" ng-show="formCrearPersonaJuridica.nombreComercial.$error.maxlength">
                        Maximo 40 caracteres.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error' : formCrearPersonaJuridica.actividadPrincipal.$invalid && control.submitted}">
                <label>Actividad principal</label>
                <input name="actividadPrincipal" type="text" ng-model="personaJuridica.actividadPrincipal" ng-maxlength="70" class="form-control" placeholder="Actividad principal"/>
                <div ng-show="formCrearPersonaJuridica.actividadPrincipal.$invalid && control.submitted">
                    <p class="help-block" ng-show="formCrearPersonaJuridica.actividadPrincipal.$error.maxlength">
                        Maximo 70 caracteres.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error' : formCrearPersonaJuridica.fechaConstitucion.$invalid && control.submitted}">
                <label>Fecha constitucion(*)</label>
                <div class="input-group">
                    <input type="text" name="fechaConstitucion" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="fechaConstitucion" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" required>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="open($event)">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </button>
                    </span>
                </div>
                <div ng-show="formCrearPersonaJuridica.fechaConstitucion.$invalid && control.submitted">
                    <p class="help-block" ng-show="formCrearPersonaJuridica.fechaConstitucion.$error.required">
                        Ingrese fecha.
                    </p>
                    <p class="help-block" ng-show="formCrearPersonaJuridica.fechaConstitucion.$invalid">
                        Fecha no valida.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error' : formCrearPersonaJuridica.tipoEmpresa.$invalid && control.submitted}">
                <label>Tipo empresa(*)</label>
                <select name="tipoEmpresa" ng-options="tipoEmpresa as tipoEmpresa for tipoEmpresa in tiposEmpresa" ng-model="personaJuridica.tipoEmpresa" class="form-control" required>
                </select>
                <div ng-show="formCrearPersonaJuridica.tipoEmpresa.$invalid && control.submitted">
                    <p class="help-block" ng-show="formCrearPersonaJuridica.tipoEmpresa.$error.required">
                        Ingrese tipo empresa.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label>Fin de lucro</label>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="personaJuridica.finLucro">
                    </label>
                </div>
            </div>
        </div>
    </div>
</fieldset>
<fieldset>
    <legend>Datos adicionales</legend>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error' : formCrearPersonaJuridica.departamento.$invalid && control.submitted}">
                <label>Departamento</label>
                <select name="departamento" ng-options="departamento.codigo as departamento.denominacion for departamento in departamentos" ng-model="ubigeo.departamento" ng-change="changeDepartamento(departamento)" class="form-control"></select>
                <div ng-show="formCrearPersonaJuridica.departamento.$invalid && control.submitted">
                    <p class="help-block" ng-show="formCrearPersonaJuridica.departamento.$error.required">
                        Ingrese departamento.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error' : formCrearPersonaJuridica.provincia.$invalid && control.submitted}">
                <label>Provincia</label>
                <select name="provincia" ng-options="provincia.codigo as provincia.denominacion for provincia in provincias" ng-model="ubigeo.provincia" ng-change="changeProvincia(provincia)" class="form-control"></select>
                <div ng-show="formCrearPersonaJuridica.provincia.$invalid && control.submitted">
                    <p class="help-block" ng-show="formCrearPersonaJuridica.provincia.$error.required">
                        Ingrese provincia.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error' : formCrearPersonaJuridica.distrito.$invalid && control.submitted}">
                <label>Distrito</label>
                <select name="distrito" ng-options="distrito.codigo as distrito.denominacion for distrito in distritos" ng-model="ubigeo.distrito" class="form-control"></select>
                <div ng-show="formCrearPersonaJuridica.distrito.$invalid && control.submitted">
                    <p class="help-block" ng-show="formCrearPersonaJuridica.distrito.$error.required">
                        Ingrese distrito.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="form-group" ng-class="{ 'has-error' : formCrearPersonaJuridica.direccion.$invalid && control.submitted}">
                <label>Direccion</label>
                <input name="direccion" type="text" ng-model="personaJuridica.direccion" ng-maxlength="70" class="form-control" placeholder="Direccion" />
                <div ng-show="formCrearPersonaJuridica.direccion.$invalid && control.submitted">
                    <p class="help-block" ng-show="formCrearPersonaJuridica.direccion.$error.maxlength">
                        Maximo 70 caracteres.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error' : formCrearPersonaJuridica.referencia.$invalid && control.submitted}">
                <label>Referencia</label>
                <input name="referencia" type="text" ng-model="personaJuridica.referencia" ng-maxlength="70" class="form-control" placeholder="Referencia" />
                <div ng-show="formCrearPersonaJuridica.referencia.$invalid && control.submitted">
                    <p class="help-block" ng-show="formCrearPersonaJuridica.referencia.$error.maxlength">
                        Maximo 70 caracteres.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error' : formCrearPersonaJuridica.telefono.$invalid && control.submitted}">
                <label>Telefono</label>
                <input name="telefono" type="text" ng-model="personaJuridica.telefono" ng-maxlength="20" class="form-control" placeholder="Telefono" />
                <div ng-show="formCrearPersonaJuridica.telefono.$invalid && control.submitted">
                    <p class="help-block" ng-show="formCrearPersonaJuridica.telefono.$error.maxlength">
                        Maximo 20 caracteres.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error' : formCrearPersonaJuridica.celular.$invalid && control.submitted}">
                <label>Celular</label>
                <input name="celular" type="text" ng-model="personaJuridica.celular" ng-maxlength="20" class="form-control" placeholder="Celular" />
                <div ng-show="formCrearPersonaJuridica.celular.$invalid && control.submitted">
                    <p class="help-block" ng-show="formCrearPersonaJuridica.celular.$error.maxlength">
                        Maximo 20 caracteres.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error' : formCrearPersonaJuridica.email.$invalid && control.submitted}">
                <label>Email</label>
                <input name="email" type="email" ng-model="personaJuridica.email" ng-maxlength="30" class="form-control" placeholder="correo@dominio.com"/>
                <div ng-show="formCrearPersonaJuridica.email.$invalid && control.submitted">
                    <p class="help-block" ng-show="formCrearPersonaJuridica.email.$invalid">
                        Email incorrecto.
                    </p>
                    <p class="help-block" ng-show="formCrearPersonaJuridica.email.$error.maxlength">
                        Maximo 30 caracteres.
                    </p>
                </div>
            </div>
        </div>
    </div>
</fieldset>
<fieldset>
    <legend>Representante legal</legend>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error' : formCrearPersonaJuridica.tipoDocumentoRepresentante.$invalid && control.submitted}">
                <label>Tipo documento(*)</label>
                <select name="tipoDocumentoRepresentante" ng-options="tipodocumento.id as tipodocumento.abreviatura for tipodocumento in tipoDocumentosPN" ng-model="representanteLegal.tipoDocumento.id" class="form-control" required>
                </select>
                <div ng-show="formCrearPersonaJuridica.tipoDocumentoRepresentante.$invalid && control.submitted">
                    <p class="help-block" ng-show="formCrearPersonaJuridica.tipoDocumentoRepresentante.$error.required">
                        Ingrese tipo documento.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error' : formCrearPersonaJuridica.numeroDocumentoRepresentante.$invalid && control.submitted}">
                <label>Nro documento(*)</label>
                <input name="numeroDocumentoRepresentante" type="text" ui-keypress="{13:'buscarRepresentanteLegal($event)'}" ng-model="representanteLegal.numeroDocumento" ng-pattern="/^[0-9]+$/" ng-minlength="1" ng-maxlength="20" class="form-control" placeholder="Nro documento" required/>
                <div ng-show="formCrearPersonaJuridica.numeroDocumentoRepresentante.$invalid && control.submitted">
                    <p class="help-block" ng-show="formCrearPersonaJuridica.numeroDocumentoRepresentante.$error.required">
                        Ingrese numero de documento.
                    </p>
                    <p class="help-block" ng-show="formCrearPersonaJuridica.numeroDocumentoRepresentante.$error.minlength">
                        Minimo 1 caracter.
                    </p>
                    <p class="help-block" ng-show="formCrearPersonaJuridica.numeroDocumentoRepresentante.$error.maxlength">
                        Maximo 20 caracteres.
                    </p>
                    <p class="help-block" ng-show="formCrearPersonaJuridica.numeroDocumentoRepresentante.$error.pattern">
                        Numero de documento no valido.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label>&nbsp;</label>
                <div class="input-group">
                    <button type="button" ng-click="buscarRepresentanteLegal()" class="btn btn-primary">Buscar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">Representante legal</div>
                <div class="panel-body" ng-show="!representanteLegal.apellidoPaterno">
                    <p>Representante no encontrado</p>
                </div>
                <!-- Table -->
                <table class="table" ng-show="representanteLegal.apellidoPaterno">
                    <tbody>
                    <tr>
                        <td>Documento:</td>
                        <td colspan="3"><span ng-bind-template="{{representanteLegal.tipoDocumento.abreviatura}}/{{representanteLegal.numeroDocumento}}"></span></td>
                    </tr>
                    <tr>
                        <td>Ap. y nombres:</td>
                        <td colspan="3"><span ng-bind-template="{{representanteLegal.apellidoPaterno}} {{representanteLegal.apellidoMaterno}}, {{representanteLegal.nombres}}"></span></td>
                    </tr>
                    <tr>
                        <td>F. nacimiento:</td>
                        <td><span ng-bind="representanteLegal.fechaNacimiento | date : 'dd/MM/yyyy'"></span></td>
                        <td>Sexo:</td>
                        <td><span ng-bind="representanteLegal.sexo"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</fieldset>
<button type="button" class="btn btn-primary" ng-click="crear()" ng-disabled="buttonDisableState()">Guardar</button>
<button type="button" class="btn btn-default" ng-click="cancel()">Cancelar</button>
</ng-form>
</tab>

<tab heading="Accionistas">
    <div ng-include="'modules/common/views/personaJuridica/accionista.html'"></div>
</tab>
</tabset>
</fieldset>

</div>