<ul>
    <li class="sf-nav-bar-left-menuitem" ng-repeat="menu in menus" ui-sref-active="sf-nav-bar-left-menuitem-selected">
        <a class="gwt-Anchor sf-nav-bar-left-menuitem-header">{{menu.name}}</a>
        <div class="sf-nav-bar-left-submenu" style="">
            <ul class="sf-ul-submenu-position sf-ul-submenu-theme">
                <li class="sf-li-submenu" ng-repeat="submenu in menu.submenus" ui-sref-active = 'GGLKX0UBOUD'>
                    <a class="gwt-Anchor sf-link-submenu" ui-sref="{{submenu.state}}">{{submenu.name}}</a>
                </li>
            </ul>
        </div>
    </li>
</ul>