<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>Sistema Financiero</display-name>
	<welcome-file-list>
		<welcome-file>/index.caja.html</welcome-file>
		<welcome-file>/index.jefecaja.html</welcome-file>
	</welcome-file-list>

	<security-constraint>
		<display-name>Solo el usuario caja puede tener acceso a esta página</display-name>
		<web-resource-collection>
			<web-resource-name>CAJA</web-resource-name>
			<description></description>
			<url-pattern>/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>PUT</http-method>
			<http-method>POST</http-method>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description>Tiene acceso a todo el sistema</description>
			<role-name>CAJERO</role-name>
		</auth-constraint>
	</security-constraint>

	<security-role>
		<description>Acesso a caja</description>
		<role-name>CAJERO</role-name>
	</security-role>

	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>file</realm-name>
		<form-login-config>
			<form-login-page>/login.html</form-login-page>
			<form-error-page>/unauthorized.html</form-error-page>
		</form-login-config>
	</login-config>
</web-app>