<div ng-controller="CrearSocioController">
    <fieldset>
        <legend>Crear socio</legend>
    </fieldset>
    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">
        <span ng-bind-html="alert.msg"></span>
    </alert>
    <form name="formCrearSocio" ng-submit="crearSocio()" novalidate>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group" ng-class="{ 'has-error' : formCrearSocio.tipoPersona.$invalid && control.submitted}">
                    <label>Tipo persona</label>
                    <select name="tipoPersona" ng-options="tipoPersona.denominacion as tipoPersona.denominacion for tipoPersona in tipoPersonas" ng-model="transaccion.tipoPersona" ng-change="tipoPersonaChange()" class="form-control" required autofocus>
                    </select>
                    <div ng-show="formCrearSocio.tipoPersona.$invalid && control.submitted">
                        <p class="help-block" ng-show="formCrearSocio.tipoPersona.$error.required">
                            Ingrese tipo persona.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group" ng-class="{ 'has-error' : formCrearSocio.tipoDocumentoSocio.$invalid && control.submitted}">
                    <label>Tipo documento socio</label>
                    <select name="tipoDocumentoSocio" ng-options="tipoDocumento.id as tipoDocumento.abreviatura for tipoDocumento in tipoDocumentosSocio" ng-model="transaccion.idTipoDocumentoSocio" class="form-control" required>
                    </select>
                    <div ng-show="formCrearSocio.tipoDocumentoSocio.$invalid && control.submitted">
                        <p class="help-block" ng-show="formCrearSocio.tipoDocumentoSocio.$error.required">
                            Ingrese tipo documento.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group" ng-class="{ 'has-error' : formCrearSocio.numeroDocumentoSocio.$invalid && control.submitted}">
                    <label>Numero documento socio</label>
                    <input type="text" name="numeroDocumentoSocio" ui-keypress="{13:'buscarPersonaSocio($event)'}" ng-model="transaccion.numeroDocumentoSocio" ng-minlength="1" ng-maxlength="{{tipoDocumentoSocio.numeroCaracteres}}" ng-pattern="/^[0-9]+$/" class="form-control" placeholder="Numero documento" required/>
                    <div ng-show="formCrearSocio.numeroDocumentoSocio.$invalid && control.submitted">
                        <p class="help-block" ng-show="formCrearSocio.numeroDocumentoSocio.$error.required">
                            Ingrese numero documento valido.
                        </p>
                        <p class="help-block" ng-show="formCrearSocio.numeroDocumentoSocio.$error.minlength">
                            Minimo 1 caracter.
                        </p>
                        <p class="help-block" ng-show="formCrearSocio.numeroDocumentoSocio.$error.maxlength">
                            Maximo <span ng-bind="tipoDocumentoSocio.numeroCaracteres"/> caracteres.
                        </p>
                        <p class="help-block" ng-show="formCrearSocio.numeroDocumentoSocio.$error.pattern">
                            Numero documento invalido.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group" ng-class="{ 'has-error' : formCrearPendiente.boveda.$invalid && control.submitted}">
                    <label>&nbsp;</label>
                    <div class="input-group">
                        <button type="button" ng-click="crearPersonaSocio()" class="btn btn-link">Nueva persona</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group" ng-class="{ 'has-error' : formCrearSocio.tipoDocumentoApoderado.$invalid && control.submitted}">
                    <label>Tipo documento apoderado</label>
                    <select name="tipoDocumentoApoderado" ng-options="tipoDocumento.id as tipoDocumento.abreviatura for tipoDocumento in tipoDocumentosApoderado" ng-model="transaccion.idTipoDocumentoApoderado" class="form-control">
                    </select>
                    <div ng-show="formCrearSocio.tipoDocumentoApoderado.$invalid && control.submitted">
                        <p class="help-block" ng-show="formCrearSocio.tipoDocumentoApoderado.$error.required">
                            Ingrese tipo documento.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group" ng-class="{ 'has-error' : formCrearSocio.numeroDocumentoApoderado.$invalid && control.submitted}">
                    <label>Numero documento apoderado</label>
                    <input type="text" name="numeroDocumentoApoderado" ui-keypress="{13:'buscarPersonaApoderado($event)'}" ng-model="transaccion.numeroDocumentoApoderado" ng-minlength="1" ng-maxlength="{{tipoDocumentoApoderado.numeroCaracteres}}" ng-pattern="/^[0-9]+$/" class="form-control" placeholder="Numero documento"/>
                    <div ng-show="formCrearSocio.numeroDocumentoApoderado.$invalid && control.submitted">
                        <p class="help-block" ng-show="formCrearSocio.numeroDocumentoApoderado.$error.required">
                            Ingrese numero documento valido.
                        </p>
                        <p class="help-block" ng-show="formCrearSocio.numeroDocumentoApoderado.$error.minlength">
                            Minimo 1 caracter.
                        </p>
                        <p class="help-block" ng-show="formCrearSocio.numeroDocumentoApoderado.$error.maxlength">
                            Maximo <span ng-bind="tipoDocumentoSocio.numeroCaracteres"/> caracteres.
                        </p>
                        <p class="help-block" ng-show="formCrearSocio.numeroDocumentoApoderado.$error.pattern">
                            Numero documento invalido.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group" ng-class="{ 'has-error' : formCrearPendiente.boveda.$invalid && control.submitted}">
                    <label>&nbsp;</label>
                    <div class="input-group">
                        <button type="button" class="btn btn-link">Nueva persona</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5">
                <div class="form-group" ng-class="{ 'has-error' : formCrearPendiente.boveda.$invalid && control.submitted}">
                    <label>Socio</label>
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Datos generales</div>
                        <div class="panel-body" ng-hide="socio">
                            <p>No registrado</p>
                        </div>
                        <table class="table" ng-show="socio">

                            <tbody ng-show="transaccion.tipoPersona == 'NATURAL'">
                            <tr>
                                <td>Tipo y num. doc.:</td>
                                <td colspan="3"><span ng-bind-template="{{socio.tipoDocumento.abreviatura}}/{{socio.numeroDocumento}}"/></td>
                            </tr>
                            <tr>
                                <td>Ap. y nombres:</td>
                                <td colspan="3"><span ng-bind-template="{{socio.apellidoPaterno}} {{socio.apellidoMaterno}}, {{socio.nombres}}"/></td>
                            </tr>
                            <tr>
                                <td>F. nacimiento:</td>
                                <td><span ng-bind="socio.fechaNacimiento | date:'dd/MM/yyyy'"/></td>
                                <td>Sexo:</td>
                                <td><span ng-bind="socio.sexo"/></td>
                            </tr>
                            </tbody>

                            <tbody ng-show="transaccion.tipoPersona == 'JURIDICA'">
                            <tr>
                                <td>Tipo y num. doc.:</td>
                                <td colspan="3"><span ng-bind-template="{{socio.tipoDocumento.abreviatura}}/{{socio.numeroDocumento}}"/></td>
                            </tr>
                            <tr>
                                <td>Razón social:</td>
                                <td colspan="3"><span ng-bind="socio.razonSocial"/></td>
                            </tr>
                            <tr>
                                <td>F. constitución:</td>
                                <td><span ng-bind="socio.fechaConstitucion | date:'dd/MM/yyyy'"/></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div>
                    <label>Apoderado</label>
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Datos generales</div>
                        <div class="panel-body" ng-hide="apoderado">
                            <p>No registrado</p>
                        </div>
                        <table class="table" ng-show="apoderado">
                           <tbody>
                           <tr>
                               <td>Tipo y num. doc.:</td>
                               <td colspan="3"><span ng-bind-template="{{apoderado.tipoDocumento.abreviatura}}/{{apoderado.numeroDocumento}}"/></td>
                           </tr>
                           <tr>
                               <td>Ap. y nombres:</td>
                               <td colspan="3"><span ng-bind-template="{{apoderado.apellidoPaterno}} {{apoderado.apellidoMaterno}}, {{apoderado.nombres}}"/></td>
                           </tr>
                           <tr>
                               <td>F. nacimiento:</td>
                               <td><span ng-bind="apoderado.fechaNacimiento | date:'dd/MM/yyyy'"/></td>
                               <td><span ng-bind="apoderado.sexo"/></td>
                           </tr>
                           </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="submit" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-default">Cancelar</button>
    </form>
</div>