<div ng-controller="PanelSocioController">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-6">
                            Persona
                        </div>
                        <div class="col-md-6">
                            <div class="text-right">
                                <button type="button" class="btn btn-link" style="padding: 0px 12px;">Editar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="img-circle center-block" style="max-width: 105px; max-height: 105px;">
                        </div>
                        <div class="col-sm-8">
                            <!--Persona natural-->
                            <table class="table table-condensed" ng-show="personaNatural">
                                <tr>
                                    <td>Pais:</td>
                                    <td><span/></td>
                                </tr>
                                <tr>
                                    <td>Doc.:</td>
                                    <td><span ng-bind-template="{{personaNatural.tipoDocumento.abreviatura}}/{{personaNatural.numeroDocumento}}"/></td>
                                </tr>
                                <tr>
                                    <td>Socio:</td>
                                    <td><span ng-bind-template="{{personaNatural.apellidoPaterno}} {{personaNatural.apellidoMaterno}},{{personaNatural.nombres}}"/></td>
                                </tr>
                                <tr><td></td><td></td></tr>
                            </table>
                            <!--Persona juridica-->
                            <table class="table table-condensed" ng-show="personaJuridica">
                                <tr>
                                    <td>Razon social.:</td>
                                    <td><span ng-bind="personaJuridica.razonSocial"/></td>
                                </tr>
                                <tr>
                                    <td>Documento:</td>
                                    <td><span/></td>
                                </tr>
                                <tr>
                                    <td>Socio:</td>
                                    <td><span/></td>
                                </tr>
                                <tr><td></td><td></td></tr>
                            </table>
                        </div>
                    </div>
                </div>
                <table class="table table-condensed" ng-show="personaNatural">
                    <tr>
                        <td>F. nacimiento:</td>
                        <td><span ng-bind="personaNatural.fechaNacimiento | date : 'dd/MM/yyyy'"/></td>
                        <td>sexo:</td>
                        <td><span ng-bind="personaNatural.sexo"/></td>
                    </tr>
                    <tr>
                        <td>E. civil:</td>
                        <td><span ng-bind="personaNatural.estadoCivil"/></td>
                        <td>Ocupacion:</td>
                        <td><span ng-bind="personaNatural.ocupacion"/></td>
                    </tr>
                    <tr>
                        <td>Direccion:</td>
                        <td colspan="3"><span ng-bind-template="{{personaNatural.direccion}}/{{personaNatural.referencia}}"/></td>
                    </tr>
                    <tr>
                        <td>Telefono:</td>
                        <td><span ng-bind="personaNatural.telefono"/></td>
                        <td>Celular:</td>
                        <td><span ng-bind="personaNatural.celular"/></td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td colspan="3"><span ng-bind="personaNatural.email"/></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-6">
                            Datos de socio
                        </div>
                        <div class="col-md-6">
                            <div class="text-right">
                                <button type="button" class="btn btn-link" style="padding: 0px 12px;">Editar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-condensed">
                    <tr>
                        <td>Cod. socio:</td>
                        <td><span ng-bind="socio.id"/></td>
                        <td>Estado:</td>
                        <td><span ng-bind="socio.estado"/></td>
                    </tr>
                    <tr>
                        <td>Fecha inic.:</td>
                        <td><span ng-bind="socio.fechaInicio | date : 'dd/MM/yyyy'"/></td>
                        <td>Fecha fin.:</td>
                        <td><span ng-bind="socio.fechaFin | date : 'dd/MM/yyyy'"/></td>
                    </tr>
                </table>
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-6">
                            Cuenta aporte
                        </div>
                        <div class="col-md-6">
                            <div class="text-right">
                                <button type="button" class="btn btn-link" style="padding: 0px 12px;">Editar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-condensed">
                    <tr>
                        <td>Moneda:</td>
                        <td><span ng-bind="cuentaAporte.moneda.denominacion"/></td>
                    </tr>
                    <tr>
                        <td>Saldo:</td>
                        <td><span ng-bind="cuentaAporte.saldo | currency : cuentaAporte.moneda.simbolo"/></td>
                        <td>Estado cuenta:</td>
                        <td><span ng-bind="cuentaAporte.estado"/></td>
                    </tr>
                </table>
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-6">
                            Apoderado
                        </div>
                        <div class="col-md-6">
                            <div class="text-right">
                                <button type="button" class="btn btn-link" style="padding: 0px 12px;">Editar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-condensed">
                    <tr>
                        <td>Documento:</td>
                        <td colspan="3"><span ng-bind-template="{{apoderado.tipoDocumento.abreviatura}}/{{apoderado.numeroDocumento}}"/></td>
                    </tr>
                    <tr>
                        <td>Ap. y nombres:</td>
                        <td colspan="3"><span ng-bind-template="{{apoderado.apellidoPaterno}} {{apoderado.apellidoMaterno}},{{apoderado.nombres}}"/></td>
                    </tr>
                    <tr>
                        <td>F. nacimiento:</td>
                        <td><span ng-bind="apoderado.fechaNacimiento | date : 'dd/MM/yyyy'"/></td>
                        <td>Sexo:</td>
                        <td><span ng-bind="apoderado.sexo"/></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Cuentas bancarias</div>
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Tipo Cta.</th>
                            <th>Num. Cta.</th>
                            <th>Moneda</th>
                            <th>F. Saldo</th>
                            <th>F. Apertura</th>
                            <th>F. Cierre</th>
                            <th>Cant.Retirantes</th>
                            <th>Estado</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="cuenta in cuentasBancarias">
                            <td><span ng-bind="cuenta.tipoCuentaBancaria"/></td>
                            <td><span ng-bind="cuenta.numeroCuenta"/></td>
                            <td><span ng-bind="cuenta.moneda.denominacion"/></td>
                            <td><span ng-bind="cuenta.moneda.saldo"/></td>
                            <td><span ng-bind="cuenta.fechaApertura | date : 'dd/MM/yyyy'"/></td>
                            <td><span ng-bind="cuenta.fechaCierre | date : 'dd/MM/yyyy'"/></td>
                            <td><span ng-bind="cuenta.cantidadRetirantes | date : 'dd/MM/yyyy'"/></td>
                            <td><span ng-bind="cuenta.estado"/></td>
                            <td><button type="button" class="btn btn-primary btn-small">Editar</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
