<div ng-controller="EditarPersonaNaturalController">
<form name="formEditarPersonanatural" ng-submit="crearTransaccion()" novalidate>
<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
    <span ng-bind="alert.msg"></span>
</alert>
<fieldset>
<legend style="text-align: center;">Editar Persona Natural</legend>
<legend style="background: whitesmoke;">Datos Personales</legend>
<h6 style="color: brown;">Los campos marcados con (*) son obligatorios</h6>
<div class="row">
<div class="col-sm-4">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body" ng-controller="LoadImageController">
                    <div flow-init="configFoto(persona.id)"
                         flow-files-submitted="$flow.upload()"
                         flow-file-success="$file.msg = $message"
                         flow-name="uploader.flow"
                         flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">
                        <div ng-show="!$flow.files.length">
                            <img ng-src="{{getFoto(persona.id)}}" class="img-circle center-block" style="width: 105px; height: 105px;">
                        </div>
                        <div ng-show="$flow.files.length">
                            <img flow-img="$flow.files[0]" class="img-circle center-block" style="width: 105px; height: 105px;">
                        </div>
                        <div>
                            <span class="btn btn-link center-block" ng-show="!$flow.files.length" flow-btn>
                                Seleccionar Foto
                                <input type="file" style="visibility: hidden; position: absolute;">
                            </span>
                            <div style="text-align: center;">
                                <span class="btn btn-link" ng-show="$flow.files.length" flow-btn>
                                    Cambiar Foto
                                    <input type="file" style="visibility: hidden; position: absolute;">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body" ng-controller="LoadImageController">
                    <div flow-init="configFirma(persona.id)"
                         flow-files-submitted="$flow.upload()"
                         flow-file-success="$file.msg = $message"
                         flow-name="uploader.flow"
                         flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">
                        <div ng-show="!$flow.files.length">
                            <img ng-src="{{getFirma(persona.id)}}" class="img-thumbnail center-block" style="width: 105px; height: 105px;">
                        </div>
                        <div ng-show="$flow.files.length">
                            <img flow-img="$flow.files[0]" class="img-thumbnail center-block" style="width: 105px; height: 105px;">
                        </div>
                        <div>
                            <span class="btn btn-link center-block" ng-show="!$flow.files.length" flow-btn>
                                Seleccionar Firma
                                <input type="file" style="visibility: hidden; position: absolute;">
                            </span>
                            <div style="text-align: center;">
                                <span class="btn btn-link" ng-show="$flow.files.length" flow-btn>
                                    Cambiar Firma
                                    <input type="file" style="visibility: hidden; position: absolute;">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-8">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group" ng-class="{ 'has-error' : formEditarPersonanatural.pais.$invalid && (control.submitted || formEditarPersonanatural.pais.$dirty)}">
                <label>Nacionalidad </label>
                <label style="color: brown;">(*)</label>
                <div class="input-group">
                    <span ng-bind="view.persona.codigoPais" class="input-group-addon"></span>
                    <select name="pais" ng-options="pais.abreviatura as pais.denominacion for pais in view.paises" ng-model="view.persona.codigoPais" class="form-control" required autofocus>
                    </select>
                </div>
                <div ng-show="formEditarPersonanatural.pais.$invalid && (control.submitted || formEditarPersonanatural.pais.$dirty)">
                    <p class="help-block" ng-show="formEditarPersonanatural.pais.$error.required">
                        Seleccione Nacionalidad.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group" ng-class="{ 'has-error' : formEditarPersonanatural.tipoDocumento.$invalid && (control.submitted || formEditarPersonanatural.tipoDocumento.$dirty)}">
                <label>Tipo Documento</label>
                <label style="color: brown;">(*)</label>
                <select name="tipoDocumento" ng-options="tipodocumento as tipodocumento.abreviatura for tipodocumento in view.tipoDocumentos | orderBy : 'id'" ng-model="view.persona.tipoDocumento" class="form-control" required>
                </select>
                <div ng-show="formEditarPersonanatural.tipoDocumento.$invalid && (control.submitted || formEditarPersonanatural.tipoDocumento.$dirty)">
                    <p class="help-block" ng-show="formEditarPersonanatural.tipoDocumento.$error.required">
                        Seleccione Tipo Documento.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group" ng-class="{ 'has-error' : (control.errorForm.numeroDocumento || formEditarPersonanatural.numeroDocumento.$invalid) && (control.submitted || formEditarPersonanatural.numeroDocumento.$dirty)}">
                <label>Numero Documento</label>
                <label style="color: brown;">(*)</label>
                <input name="numeroDocumento" type="text" ng-model="view.persona.numeroDocumento" ng-pattern="/^[0-9]+$/" ng-minlength="1" ng-maxlength="20" class="form-control" placeholder="Nro documento" required/>
                <div ng-show="formEditarPersonanatural.numeroDocumento.$invalid && (control.submitted || formEditarPersonanatural.numeroDocumento.$dirty)">
                    <p class="help-block" ng-show="formEditarPersonanatural.numeroDocumento.$error.required">
                        Ingrese Numero de Documento.
                    </p>
                    <p class="help-block" ng-show="formEditarPersonanatural.numeroDocumento.$error.minlength">
                        Minimo 1 Caracter.
                    </p>
                    <p class="help-block" ng-show="formEditarPersonanatural.numeroDocumento.$error.maxlength">
                        Maximo 20 Caracteres.
                    </p>
                    <p class="help-block" ng-show="formEditarPersonanatural.numeroDocumento.$error.pattern">
                        Numero de documento no valido.
                    </p>
                    <p class="help-block" ng-show="formEditarPersonanatural.numeroDocumento.$error.sgmaxlength">
                        Debe tener <span ng-bind="view.persona.tipoDocumento.numeroCaracteres"></span> caracteres.
                    </p>
                </div>
                <div ng-show="control.errorForm.numeroDocumento && control.submitted">
                    <p class="help-block" ng-show="control.errorForm.numeroDocumento">
                        Maximo <span ng-bind="persona.tipoDocumento.numeroCaracteres"></span> caracteres.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group" ng-class="{ 'has-error' : formEditarPersonanatural.apellidoPaterno.$invalid && (control.submitted || formEditarPersonanatural.apellidoPaterno.$dirty)}">
                <label>Apellido Paterno</label>
                <label style="color: brown;">(*)</label>
                <input name="apellidoPaterno" type="text" ng-model="view.persona.apellidoPaterno" ng-minlength="1" ng-maxlength="60" class="form-control" placeholder="Apellido Paterno" capitalize required/>
                <div ng-show="formEditarPersonanatural.apellidoPaterno.$invalid && (control.submitted || formEditarPersonanatural.apellidoPaterno.$dirty)">
                    <p class="help-block" ng-show="formEditarPersonanatural.apellidoPaterno.$error.required">
                        Ingrese Apellido Paterno.
                    </p>
                    <p class="help-block" ng-show="formEditarPersonanatural.apellidoPaterno.$error.minlength">
                        Minimo 1 Caracter.
                    </p>
                    <p class="help-block" ng-show="formEditarPersonanatural.apellidopaterno.$error.maxlength">
                        Maximo 60 Caracteres.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group" ng-class="{ 'has-error' : formEditarPersonanatural.apellidoMaterno.$invalid && (control.submitted || formEditarPersonanatural.apellidoMaterno.$dirty)}">
                <label>Apellido Materno</label>
                <label style="color: brown;">(*)</label>
                <input name="apellidoMaterno" type="text" ng-model="view.persona.apellidoMaterno" ng-minlength="1" ng-maxlength="60" class="form-control" placeholder="Apellido Materno" capitalize required/>
                <div ng-show="formEditarPersonanatural.apellidoMaterno.$invalid && (control.submitted || formEditarPersonanatural.apellidoMaterno.$dirty)">
                    <p class="help-block" ng-show="formEditarPersonanatural.apellidoMaterno.$error.required">
                        Ingrese Apellido Materno.
                    </p>
                    <p class="help-block" ng-show="formEditarPersonanatural.apellidoMaterno.$error.minlength">
                        Minimo 1 Caracter.
                    </p>
                    <p class="help-block" ng-show="formEditarPersonanatural.apellidoMaterno.$error.maxlength">
                        Maximo 60 Caracteres.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group" ng-class="{ 'has-error' : formEditarPersonanatural.nombres.$invalid && (control.submitted || formEditarPersonanatural.nombres.$dirty)}">
                <label>Nombres</label>
                <label style="color: brown;">(*)</label>
                <input name="nombres" type="text" ng-model="view.persona.nombres" ng-minlength="1" ng-maxlength="70" class="form-control" placeholder="Nombres" capitalize required  />
                <div ng-show="formEditarPersonanatural.nombres.$invalid && (control.submitted || formEditarPersonanatural.nombres.$dirty)">
                    <p class="help-block" ng-show="formEditarPersonanatural.nombres.$error.required">
                        Ingrese Nombres.
                    </p>
                    <p class="help-block" ng-show="formEditarPersonanatural.nombres.$error.minlength">
                        Minimo 1 Caracter.
                    </p>
                    <p class="help-block" ng-show="formEditarPersonanatural.nombres.$error.maxlength">
                        Maximo 70 Caracteres.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group" ng-class="{ 'has-error' : formEditarPersonanatural.fechanacimiento.$invalid && control.submitted}">
                <label>Fecha Nacimiento</label>
                <label style="color: brown;">(*)</label>
                <div class="input-group">
                    <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="view.persona.fechaNacimiento" is-open="opened" datepicker-options="view.dateOptions" ng-required="true" close-text="Close" required="required">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="open($event)">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </button>
                    </span>
                </div>
                <div ng-show="formEditarPersonanatural.fechanacimiento.$invalid && control.submitted">
                    <p class="help-block" ng-show="formEditarPersonanatural.fechanacimiento.$error.required">
                        Ingrese Fecha.
                    </p>
                    <p class="help-block" ng-show="formEditarPersonanatural.fechanacimiento.$invalid">
                        Fecha no Valida.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group" ng-class="{ 'has-error' : formEditarPersonanatural.sexo.$invalid && control.submitted}">
                <label>Sexo</label>
                <label style="color: brown;">(*)</label>
                <select name="sexo" ng-options="sexo as sexo for sexo in view.sexos" ng-model="view.persona.sexo" class="form-control" required></select>
                <div ng-show="formEditarPersonanatural.sexo.$invalid && control.submitted">
                    <p class="help-block" ng-show="formEditarPersonanatural.sexo.$error.required">
                        Seleccione Sexo.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group" ng-class="{ 'has-error' : formEditarPersonanatural.estadocivil.$invalid && formEditarPersonanatural.submitted}">
                <label>Estado Civil</label>
                <select name="estadocivil" ng-options="estadocivil as estadocivil for estadocivil in view.estadosCiviles" ng-model="view.persona.estadoCivil" class="form-control"></select>
                <div ng-show="formEditarPersonanatural.estadocivil.$invalid && control.submitted">
                    <p class="help-block" ng-show="formEditarPersonanatural.estadocivil.$invalid">
                        Estado Civil Invalido.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
</fieldset>
<fieldset>
    <legend style="background: whitesmoke;">Datos Adicionales</legend>
    <div class="row" ng-controller="UbigeoController">
        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error' : formEditarPersonanatural.departamento.$invalid && control.submitted}">
                <label>Departamento</label>
                <select name="departamento" ng-options="departamento as departamento.denominacion for departamento in departamentos" ng-model="ubigeo.departamento" ng-change="changeDepartamento()" class="form-control"></select>
                <div ng-show="formEditarPersonanatural.departamento.$invalid && control.submitted">
                    <p class="help-block" ng-show="formEditarPersonanatural.departamento.$error.required">
                        Ingrese Departamento.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error' : formEditarPersonanatural.provincia.$invalid && control.submitted}">
                <label>Provincia</label>
                <select name="provincia" ng-options="provincia as provincia.denominacion for provincia in provincias" ng-model="ubigeo.provincia" ng-change="changeProvincia()" class="form-control"></select>
                <div ng-show="formEditarPersonanatural.provincia.$invalid && control.submitted">
                    <p class="help-block" ng-show="formEditarPersonanatural.provincia.$error.required">
                        Ingrese Provincia.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error' : formEditarPersonanatural.distrito.$invalid && control.submitted}">
                <label>Distrito</label>
                <select name="distrito" ng-options="distrito as distrito.denominacion for distrito in distritos" ng-model="ubigeo.distrito" ng-change="changeDistrito()" class="form-control"></select>
                <div ng-show="formEditarPersonanatural.distrito.$invalid && control.submitted">
                    <p class="help-block" ng-show="formEditarPersonanatural.distrito.$error.required">
                        Ingrese Distrito.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error' : formEditarPersonanatural.direccion.$invalid && control.submitted}">
                <label>Direccion</label>
                <input name="direccion" type="text" ng-model="view.persona.direccion" ng-maxlength="70" class="form-control" placeholder="Direccion" capitalize />
                <div ng-show="formEditarPersonanatural.direccion.$invalid && control.submitted">
                    <p class="help-block" ng-show="formEditarPersonanatural.direccion.$error.maxlength">
                        Maximo 70 Caracteres.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error' : formEditarPersonanatural.referencia.$invalid && control.submitted}">
                <label>Referencia</label>
                <input name="referencia" type="text" ng-model="view.persona.referencia" ng-maxlength="70" class="form-control" placeholder="Referencia" capitalize />
                <div ng-show="formEditarPersonanatural.referencia.$invalid && control.submitted">
                    <p class="help-block" ng-show="formEditarPersonanatural.referencia.$error.maxlength">
                        Maximo 70 Caracteres.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error' : formEditarPersonanatural.ocupacion.$invalid && control.submitted}">
                <label>Ocupacion</label>
                <input name="ocupacion" type="text" ng-model="view.persona.ocupacion" ng-maxlength="70" class="form-control" placeholder="Ocupacion" capitalize />
                <div ng-show="formEditarPersonanatural.nombres.$invalid && control.submitted">
                    <p class="help-block" ng-show="formEditarPersonanatural.ocupacion.$error.maxlength">
                        Maximo 70 Caracteres.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error' : formEditarPersonanatural.telefono.$invalid && control.submitted}">
                <label>Telefono</label>
                <input name="telefono" type="text" ng-model="view.persona.telefono" ng-maxlength="70" class="form-control" placeholder="Telefono" />
                <div ng-show="formEditarPersonanatural.telefono.$invalid && control.submitted">
                    <p class="help-block" ng-show="formEditarPersonanatural.telefono.$error.maxlength">
                        Maximo 70 Caracteres.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error' : formEditarPersonanatural.celular.$invalid && control.submitted}">
                <label>Celular</label>
                <input name="celular" type="text" ng-model="view.persona.celular" ng-maxlength="70" class="form-control" placeholder="Celular" />
                <div ng-show="formEditarPersonanatural.celular.$invalid && control.submitted">
                    <p class="help-block" ng-show="formEditarPersonanatural.celular.$error.maxlength">
                        Maximo 70 Caracteres.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error' : formEditarPersonanatural.email.$invalid && control.submitted}">
                <label>Email</label>
                <input name="email" type="email" ng-model="view.persona.email" ng-maxlength="70" class="form-control" placeholder="correo@dominio.com"/>
                <div ng-show="formEditarPersonanatural.email.$invalid && control.submitted">
                    <p class="help-block" ng-show="formEditarPersonanatural.email.$invalid">
                        Email Incorrecto.
                    </p>
                    <p class="help-block" ng-show="formEditarPersonanatural.email.$error.maxlength">
                        Maximo 70 Caracteres.
                    </p>
                </div>
            </div>
        </div>
    </div>
</fieldset>
<button type="submit" class="btn btn-primary" ng-disabled="buttonDisableState()">Guardar</button>
<button type="button" class="btn btn-default" ng-click="cancel()">Cancelar</button>
</form>
</div>

