<br/>
<div style="width: 300px;">
    <form role="form">
        <div class="form-group">
            <label>Agencia</label>
            <p>Ayacucho</p>
        </div>
        <div class="form-group">
            <label for="txtDenominacion">Denominación</label>
            <input type="text" class="form-control" id="txtDenominacion" placeholder="Denominación">
        </div>
        <div class="form-group">
            <label for="cmbMoneda">Moneda</label>
            <select id="cmbMoneda" class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="txtDenominacion">Saldo</label>
            <p>0.00</p>
        </div>
        <div class="form-group">
            <label for="txtDenominacion">Estado</label>
            <p>0.00</p>
        </div>
        <button type="button" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-default">Cancelar</button>
    </form>
</div>