<ul>
    <li class="sf-nav-bar-left-menuitem sf-nav-bar-left-menuitem-selected">
        <a class="gwt-Anchor sf-nav-bar-left-menuitem-header">Boveda</a>
        <div class="sf-nav-bar-left-submenu" style="">
            <ul class="sf-ul-submenu-position sf-ul-submenu-theme">
                <li role="menuitem" class="sf-li-submenu GGLKX0UBOUD" title="Bloques de anuncios">
                    <a class="gwt-Anchor sf-link-submenu" ui-sref="bovedaCreate">Registrar</a>
                </li>
                <li role="menuitem" class="sf-li-submenu" title="Criterios de seguimiento personalizados">
                    <a class="gwt-Anchor sf-link-submenu" ui-sref="bovedaSearch">Buscar</a>
                </li>
            </ul>
        </div>
    </li>
    <li class="sf-nav-bar-left-menuitem">
        <a class="gwt-Anchor sf-nav-bar-left-menuitem-header">Transacciones</a>
        <div class="sf-nav-bar-left-submenu" style="">
            <ul class="sf-ul-submenu-position sf-ul-submenu-theme">
                <li class="sf-li-submenu" title="Bloques de anuncios">
                    <a class="gwt-Anchor sf-link-submenu">Registrar</a>
                </li>
                <li class="sf-li-submenu" title="Criterios de seguimiento personalizados">
                    <a class="gwt-Anchor sf-link-submenu">Buscar</a>
                </li>
            </ul>
        </div>
    </li>
</ul>