<div ng-controller="BuscarTransaccionBovedaCajaController">
    <fieldset>
        <legend>Transaccion de Boveda - Caja</legend>
        <button type="button" class="btn btn-primary" ng-click="nuevo()">Nuevo</button>
    </fieldset>
    <br/>
    <div class="row">
        <div class="col-sm-12">
            <tabset>
                <tab heading="Recibidos">
                </tab>
                <tab heading="Enviados">
                </tab>
            </tabset>
                <div class="form-group">

            </div>
        </div>
    </div>
</div>