<div ng-controller="CrearPersonaNaturalController">
<form name="formCrearPersonanatural" ng-submit="create()" novalidate>
<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">
    <span ng-bind-html="alert.msg"></span>
</alert>
<fieldset>
    <legend>Crear persona natural <h6>Los campos marcados con (*) son obligatorios</h6></legend>
    <div class="row">
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div flow-name="foto" flow-init="{singleFile:true}" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">
                                <div ng-show="!$flow.files.length">
                                    <img src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="img-circle center-block" style="max-width: 105px; max-height: 105px;">
                                </div>
                                <div ng-show="$flow.files.length">
                                    <img flow-img="$flow.files[0]" class="img-circle center-block" style="max-width: 105px; max-height: 105px;">
                                </div>
                                <div>
                                <span class="btn btn-link center-block" ng-show="!$flow.files.length" flow-btn>
                                    Seleccionar foto
                                    <input type="file" style="visibility: hidden; position: absolute;">
                                </span>
                                    <div style="text-align: center;">
                                    <span class="btn btn-info" ng-show="$flow.files.length" flow-btn>
                                        Cambiar
                                        <input type="file" style="visibility: hidden; position: absolute;">
                                    </span>
                                    <span class="btn btn-danger" ng-show="$flow.files.length" ng-click="$flow.cancel()">
                                        Eliminar
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div flow-init="{singleFile:true}" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">
                                <div ng-show="!$flow.files.length">
                                    <img src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="img-thumbnail center-block" style="max-width: 200px; max-height: 100px;">
                                </div>
                                <div ng-show="$flow.files.length">
                                    <img flow-img="$flow.files[0]" class="img-thumbnail center-block" style="max-width: 200px; max-height: 100px;">
                                </div>
                                <div>
                                <span class="btn btn-link center-block" ng-show="!$flow.files.length" flow-btn>
                                    Seleccionar firma
                                    <input type="file" style="visibility: hidden; position: absolute;">
                                </span>
                                    <div style="text-align: center;">
                                    <span class="btn btn-info" ng-show="$flow.files.length" flow-btn>
                                        Cambiar
                                        <input type="file" style="visibility: hidden; position: absolute;">
                                    </span>
                                    <span class="btn btn-danger" ng-show="$flow.files.length" ng-click="$flow.cancel()">
                                        Eliminar
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group" ng-class="{ 'has-error' : formCrearPersonanatural.pais.$invalid && control.submitted}">
                        <label>Nacionalidad(*)</label>
                        <div class="input-group">
                            <span class="input-group-addon">{{persona.codigoPais}}</span>
                            <select name="pais" ng-options="pais.abreviatura as pais.denominacion for pais in paises" ng-model="persona.codigoPais" class="form-control" required autofocus>
                            </select>
                        </div>
                        <div ng-show="formCrearPersonanatural.pais.$invalid && control.submitted">
                            <p class="help-block" ng-show="formCrearPersonanatural.pais.$error.required">
                                Ingrese nacionalidad.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group" ng-class="{ 'has-error' : formCrearPersonanatural.tipodocumento.$invalid && control.submitted}">
                        <label>Tipo documento(*)</label>
                        <select name="tipodocumento" ng-options="tipodocumento.id as tipodocumento.abreviatura for tipodocumento in tipodocumentos" ng-model="persona.tipoDocumento.id" class="form-control" required>
                        </select>
                        <div ng-show="formCrearPersonanatural.tipodocumento.$invalid && control.submitted">
                            <p class="help-block" ng-show="formCrearPersonanatural.tipodocumento.$error.required">
                                Ingrese tipo documento.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group" ng-class="{ 'has-error' : formCrearPersonanatural.numerodocumento.$invalid && control.submitted}">
                        <label>Nro documento(*)</label>
                        <input name="numerodocumento" type="text" ng-model="persona.numeroDocumento" ng-pattern="/^[0-9]+$/" ng-minlength="1" ng-maxlength="20" class="form-control" placeholder="Nro documento" required/>
                        <div ng-show="formCrearPersonanatural.numerodocumento.$invalid && control.submitted">
                            <p class="help-block" ng-show="formCrearPersonanatural.numerodocumento.$error.required">
                                Ingrese numero de documento.
                            </p>
                            <p class="help-block" ng-show="formCrearPersonanatural.numerodocumento.$error.minlength">
                                Minimo 1 caracter.
                            </p>
                            <p class="help-block" ng-show="formCrearPersonanatural.numerodocumento.$error.maxlength">
                                Maximo 20 caracteres.
                            </p>
                            <p class="help-block" ng-show="formCrearPersonanatural.numerodocumento.$error.pattern">
                                Numero de documento no valido.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group" ng-class="{ 'has-error' : formCrearPersonanatural.apellidopaterno.$invalid && control.submitted}">
                        <label>Ap. paterno(*)</label>
                        <input name="apellidopaterno" type="text" ng-model="persona.apellidoPaterno" ng-minlength="1" ng-maxlength="60" class="form-control" placeholder="Apellido paterno" required/>
                        <div ng-show="formCrearPersonanatural.apellidopaterno.$invalid && control.submitted">
                            <p class="help-block" ng-show="formCrearPersonanatural.apellidopaterno.$error.required">
                                Ingrese apellido paterno.
                            </p>
                            <p class="help-block" ng-show="formCrearPersonanatural.apellidopaterno.$error.minlength">
                                Minimo 1 caracter.
                            </p>
                            <p class="help-block" ng-show="formCrearPersonanatural.apellidopaterno.$error.maxlength">
                                Maximo 60 caracteres.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group" ng-class="{ 'has-error' : formCrearPersonanatural.apellidomaterno.$invalid && control.submitted}">
                        <label>Ap. materno(*)</label>
                        <input name="apellidomaterno" type="text" ng-model="persona.apellidoMaterno" ng-minlength="1" ng-maxlength="60" class="form-control" placeholder="Apellido materno" required/>
                        <div ng-show="formCrearPersonanatural.apellidomaterno.$invalid && control.submitted">
                            <p class="help-block" ng-show="formCrearPersonanatural.apellidomaterno.$error.required">
                                Ingrese apellido materno.
                            </p>
                            <p class="help-block" ng-show="formCrearPersonanatural.apellidomaterno.$error.minlength">
                                Minimo 1 caracter.
                            </p>
                            <p class="help-block" ng-show="formCrearPersonanatural.apellidomaterno.$error.maxlength">
                                Maximo 60 caracteres.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group" ng-class="{ 'has-error' : formCrearPersonanatural.nombres.$invalid && control.submitted}">
                        <label>Nombres(*)</label>
                        <input name="nombres" type="text" ng-model="persona.nombres" ng-minlength="1" ng-maxlength="70" class="form-control" placeholder="Nombres" required  />
                        <div ng-show="formCrearPersonanatural.nombres.$invalid && control.submitted">
                            <p class="help-block" ng-show="formCrearPersonanatural.nombres.$error.required">
                                Ingrese nombres.
                            </p>
                            <p class="help-block" ng-show="formCrearPersonanatural.nombres.$error.minlength">
                                Minimo 1 caracter.
                            </p>
                            <p class="help-block" ng-show="formCrearPersonanatural.nombres.$error.maxlength">
                                Maximo 70 caracteres.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group" ng-class="{ 'has-error' : formCrearPersonanatural.fechanacimiento.$invalid && control.submitted}">
                        <label>Fecha nacimiento(*)</label>
                        <div class="input-group">
                            <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="fechaNacimiento" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" required="required">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="open($event)">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </button>
                    </span>
                        </div>
                        <div ng-show="formCrearPersonanatural.fechanacimiento.$invalid && control.submitted">
                            <p class="help-block" ng-show="formCrearPersonanatural.fechanacimiento.$error.required">
                                Ingrese fecha.
                            </p>
                            <p class="help-block" ng-show="formCrearPersonanatural.fechanacimiento.$invalid">
                                Fecha no valida.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group" ng-class="{ 'has-error' : formCrearPersonanatural.sexo.$invalid && control.submitted}">
                        <label>Sexo(*)</label>
                        <select name="sexo" ng-options="sexo as sexo for sexo in sexos" ng-model="persona.sexo" class="form-control" required></select>
                        <div ng-show="formCrearPersonanatural.sexo.$invalid && control.submitted">
                            <p class="help-block" ng-show="formCrearPersonanatural.sexo.$error.required">
                                Ingrese sexo.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group" ng-class="{ 'has-error' : formCrearPersonanatural.estadocivil.$invalid && formCrearPersonanatural.submitted}">
                        <label>Estado civil</label>
                        <select name="estadocivil" ng-options="estadocivil as estadocivil for estadocivil in estadosciviles" ng-model="persona.estadoCivil" class="form-control"></select>
                        <div ng-show="formCrearPersonanatural.estadocivil.$invalid && control.submitted">
                            <p class="help-block" ng-show="formCrearPersonanatural.estadocivil.$invalid">
                                Estado civil invalido.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</fieldset>
<fieldset>
    <legend>Datos adicionales</legend>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error' : formCrearPersonanatural.departamento.$invalid && control.submitted}">
                <label>Departamento</label>
                <select name="departamento" ng-options="departamento.codigo as departamento.denominacion for departamento in departamentos" ng-model="ubigeo.departamento" ng-change="changeDepartamento(departamento)" class="form-control"></select>
                <div ng-show="formCrearPersonanatural.departamento.$invalid && control.submitted">
                    <p class="help-block" ng-show="formCrearPersonanatural.departamento.$error.required">
                        Ingrese departamento.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error' : formCrearPersonanatural.provincia.$invalid && control.submitted}">
                <label>Provincia</label>
                <select name="provincia" ng-options="provincia.codigo as provincia.denominacion for provincia in provincias" ng-model="ubigeo.provincia" ng-change="changeProvincia(provincia)" class="form-control"></select>
                <div ng-show="formCrearPersonanatural.provincia.$invalid && control.submitted">
                    <p class="help-block" ng-show="formCrearPersonanatural.provincia.$error.required">
                        Ingrese provincia.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error' : formCrearPersonanatural.distrito.$invalid && control.submitted}">
                <label>Distrito</label>
                <select name="distrito" ng-options="distrito.codigo as distrito.denominacion for distrito in distritos" ng-model="ubigeo.distrito" class="form-control"></select>
                <div ng-show="formCrearPersonanatural.distrito.$invalid && control.submitted">
                    <p class="help-block" ng-show="formCrearPersonanatural.distrito.$error.required">
                        Ingrese distrito.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error' : formCrearPersonanatural.direccion.$invalid && control.submitted}">
                <label>Direccion</label>
                <input name="direccion" type="text" ng-model="persona.direccion" ng-maxlength="70" class="form-control" placeholder="Direccion" />
                <div ng-show="formCrearPersonanatural.direccion.$invalid && control.submitted">
                    <p class="help-block" ng-show="formCrearPersonanatural.direccion.$error.maxlength">
                        Maximo 70 caracteres.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error' : formCrearPersonanatural.referencia.$invalid && control.submitted}">
                <label>Referencia</label>
                <input name="referencia" type="text" ng-model="persona.referencia" ng-maxlength="70" class="form-control" placeholder="Referencia" />
                <div ng-show="formCrearPersonanatural.referencia.$invalid && control.submitted">
                    <p class="help-block" ng-show="formCrearPersonanatural.referencia.$error.maxlength">
                        Maximo 70 caracteres.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error' : formCrearPersonanatural.ocupacion.$invalid && control.submitted}">
                <label>Ocupacion</label>
                <input name="ocupacion" type="text" ng-model="persona.ocupacion" ng-maxlength="70" class="form-control" placeholder="Ocupacion" />
                <div ng-show="formCrearPersonanatural.nombres.$invalid && control.submitted">
                    <p class="help-block" ng-show="formCrearPersonanatural.ocupacion.$error.maxlength">
                        Maximo 70 caracteres.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error' : formCrearPersonanatural.telefono.$invalid && control.submitted}">
                <label>Telefono</label>
                <input name="telefono" type="text" ng-model="persona.telefono" ng-maxlength="70" class="form-control" placeholder="Telefono" />
                <div ng-show="formCrearPersonanatural.telefono.$invalid && control.submitted">
                    <p class="help-block" ng-show="formCrearPersonanatural.telefono.$error.maxlength">
                        Maximo 70 caracteres.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error' : formCrearPersonanatural.celular.$invalid && control.submitted}">
                <label>Celular</label>
                <input name="celular" type="text" ng-model="persona.celular" ng-maxlength="70" class="form-control" placeholder="Celular" />
                <div ng-show="formCrearPersonanatural.celular.$invalid && control.submitted">
                    <p class="help-block" ng-show="formCrearPersonanatural.celular.$error.maxlength">
                        Maximo 70 caracteres.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error' : formCrearPersonanatural.email.$invalid && control.submitted}">
                <label>Email</label>
                <input name="email" type="email" ng-model="persona.email" ng-maxlength="70" class="form-control" placeholder="correo@dominio.com"/>
                <div ng-show="formCrearPersonanatural.email.$invalid && control.submitted">
                    <p class="help-block" ng-show="formCrearPersonanatural.email.$invalid">
                        Email incorrecto.
                    </p>
                    <p class="help-block" ng-show="formCrearPersonanatural.email.$error.maxlength">
                        Maximo 70 caracteres.
                    </p>
                </div>
            </div>
        </div>
    </div>
</fieldset>
<button type="submit" class="btn btn-primary" ng-disabled="buttonDisableState()">Guardar</button>
<button type="button" class="btn btn-default" ng-click="cancel()">Cancelar</button>
</form>
</div>