<div ng-controller="VoucherPendienteController">
    <div class="row">
        <div class="col-md-6" id="voucher">
            <div>
                <fieldset>
                    <legend>Pendiente</legend>
                </fieldset>
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Voucher</div>

                    <!-- Table -->
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Fecha:</td>
                            <td><span ng-bind="pendiente.fecha | date : 'dd/MM/yyyy'"/> </td>
                            <td>Hora:</td>
                            <td><span ng-bind="pendiente.hora | date : 'HH:mm:ss'"/></td>
                        </tr>
                        <tr>
                            <td>Tipo pendiente:</td>
                            <td><span ng-bind="pendiente.tipoPendiente"/> </td>
                        </tr>
                        <tr>
                            <td>Moneda:</td>
                            <td><span ng-bind="pendiente.moneda.denominacion"/> </td>
                        </tr>
                        <tr>
                            <td>Monto:</td>
                            <td><span ng-bind="pendiente.monto | currency : pendiente.moneda.simbolo"/> </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <button type="button" class="btn btn-primary" ng-click="imprimir()">Imprimir</button>
                <button type="button" class="btn btn-default" ng-click="cancelar()">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<applet id="qz"
        archive="bower_components/qz-print/qz-print.jar"
        name="QZ Print Plugin" code="qz.PrintApplet.class"
        width="55"
        height="55">
    <param name="jnlp_href" value="bower_components/qz-print/qz-print_jnlp.jnlp">
    <param name="cache_option" value="plugin">
    <param name="disable_logging" value="false">
    <param name="initial_focus" value="false">
</applet>

