<div ng-controller="AccionistaController">
    <form name="formAccionista" ng-submit="addAccionista()" novalidate>
        <fieldset>
            <legend>Datos de accionista</legend>
            <alert ng-repeat="alert in alertsAccionistas" type="{{alert.type}}" close="closeAlert($index)">
                <span ng-bind="alert.msg"></span>
            </alert>
            <div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group" ng-class="{ 'has-error' : formAccionista.tipoDocumento.$invalid && (control.submitted || formAccionista.tipoDocumento.$dirty)}">
                            <label>Tipo documento</label>
                            <select id="cmbTipoDocumentoAccionista" name="tipoDocumento" ng-options="tipoDocumento as tipoDocumento.abreviatura for tipoDocumento in tipoDocumentos | orderBy : 'id'" ng-model="accionista.tipoDocumento" class="form-control" required autofocus>
                            </select>
                            <div ng-show="formAccionista.tipoDocumento.$invalid && (control.submitted || formAccionista.tipoDocumento.$dirty)">
                                <p class="help-block" ng-show="formAccionista.tipoDocumento.$error.required">
                                    Ingrese tipo documento.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" ng-class="{ 'has-error' : formAccionista.numeroDocumento.$invalid && (control.submitted || formAccionista.numeroDocumento.$dirty)}">
                            <label>Numero documento</label>
                            <div class="input-group">
                                <input type="text" name="numeroDocumento" ng-model="accionista.numeroDocumento" ng-minlength="1" ng-maxlength="20" ng-pattern="/^[0-9]+$/" class="form-control" placeholder="Numero documento" required/>
                                 <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="addAccionista()" >
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                 </span>
                            </div>
                            <div ng-show="formAccionista.numeroDocumento.$invalid && (control.submitted || formAccionista.numeroDocumento.$dirty)">
                                <p class="help-block" ng-show="formAccionista.numeroDocumento.$error.required">
                                    Ingrese numero documento valido.
                                </p>
                                <p class="help-block" ng-show="formAccionista.numeroDocumento.$error.minlength">
                                    Minimo 1 caracter.
                                </p>
                                <p class="help-block" ng-show="formAccionista.numeroDocumento.$error.maxlength">
                                    Maximo 20 caracteres.
                                </p>
                                <p class="help-block" ng-show="formAccionista.numeroDocumento.$error.pattern">
                                    Numero documento invalido.
                                </p>
                                <p class="help-block" ng-show="formAccionista.numeroDocumento.$error.sgmaxlength">
                                    Debe tener <span ng-bind="accionista.tipoDocumento.numeroCaracteres"></span> caracteres.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>&nbsp;</label>
                            <div>
                                <button type="button" class="btn btn-link" ng-click="nuevaPersona()">Registrar persona</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
    <fieldset>
        <legend>Lista de accionistas</legend>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th>Num. doc.</th>
                            <th>Ap. paterno</th>
                            <th>Ap. materno</th>
                            <th>Nombres</th>
                            <th>F.nacimiento</th>
                            <th>Sexo</th>
                            <th>%</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="accionista in accionistas">
                            <td><span ng-bind-template="{{accionista.personaNatural.tipoDocumento.abreviatura}}/{{accionista.personaNatural.numeroDocumento}}"/></td>
                            <td><span ng-bind="accionista.personaNatural.apellidoPaterno"/></td>
                            <td><span ng-bind="accionista.personaNatural.apellidoMaterno"/></td>
                            <td><span ng-bind="accionista.personaNatural.nombres"/></td>
                            <td><span ng-bind="accionista.personaNatural.fechaNacimiento | date : 'dd/MM/yyyy'"/></td>
                            <td><span ng-bind="accionista.personaNatural.sexo"/></td>
                            <td>
                                <ng-form name="porcentajeForm">
                                    <div class="form-group" ng-class="{ 'has-error' : porcentajeForm.porcentaje.$invalid}" style="margin-bottom: 0px;">
                                        <input type="text" name="porcentaje" ng-model="accionista.porcentajeParticipacion" ng-minlength="1" ng-maxlength="5" ng-pattern="/^(\d+|\d+.\d{1,3})$/" class="form-control" required style="height: 27px;padding: 0px 12px;"/>
                                        <div ng-show="porcentajeForm.porcentaje.$invalid">
                                            <p class="help-block" ng-show="porcentajeForm.porcentaje.$error.required">
                                                Ingrese porcentaje.
                                            </p>
                                            <p class="help-block" ng-show="porcentajeForm.porcentaje.$error.minlength">
                                                Minimo 1 caracter.
                                            </p>
                                            <p class="help-block" ng-show="porcentajeForm.porcentaje.$error.maxlength">
                                                Maximo 3 caracteres.
                                            </p>
                                            <p class="help-block" ng-show="porcentajeForm.porcentaje.$error.pattern">
                                                Numero invalido.
                                            </p>
                                        </div>
                                    </div>
                                </ng-form>
                            </td>
                            <td><button type="button" ng-click="removeAccionista($index)" class="btn btn-danger btn-xs">Delete</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </fieldset>
</div>