<div>
    <fieldset>
        <legend>Apertura Cuenta Aportes</legend>
    </fieldset>
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
        <span ng-bind="alert.msg"></span>
    </alert>
    <form name="formCrearSocio" ng-submit="crearTransaccion()" novalidate>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group" ng-class="{ 'has-error' : formCrearSocio.tipoPersona.$invalid && control.submitted}">
                    <label>Tipo Persona</label>
                    <select focus-on="firstFocus" name="tipoPersona" ng-options="tipoPersona.denominacion as tipoPersona.denominacion for tipoPersona in tipoPersonas" ng-model="transaccion.tipoPersona" ng-change="tipoPersonaChange()" class="form-control" required autofocus>
                    </select>
                    <div ng-show="formCrearSocio.tipoPersona.$invalid && control.submitted">
                        <p class="help-block" ng-show="formCrearSocio.tipoPersona.$error.required">
                            Seleccione Tipo Persona.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group" ng-class="{ 'has-error' : formCrearSocio.tipoDocumentoSocio.$invalid && control.submitted}">
                    <label>Tipo Documento Socio</label>
                    <select name="tipoDocumentoSocio" ng-options="tipoDocumento as tipoDocumento.abreviatura for tipoDocumento in tipoDocumentosSocio | orderBy : 'id'" ng-model="transaccion.tipoDocumentoSocio" class="form-control" required>
                    </select>
                    <div ng-show="formCrearSocio.tipoDocumentoSocio.$invalid && control.submitted">
                        <p class="help-block" ng-show="formCrearSocio.tipoDocumentoSocio.$error.required">
                            Seleccione Tipo Documento.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group" ng-class="{ 'has-error' : (formCrearSocio.numeroDocumentoSocio.$invalid || control.errorForm.socio) && control.submitted}">
                    <label>N&uacute;mero Documento Socio</label>
                    <div class="input-group">
                        <input type="text" id="txtNumeroDocumentoSocio" name="numeroDocumentoSocio" ui-keypress="{13:'buscarPersonaSocio($event)'}" ng-model="transaccion.numeroDocumentoSocio" ng-minlength="1" ng-maxlength="20" ng-trim="false" ng-pattern="/^[0-9]+$/" class="form-control" placeholder="Numero Documento" required/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="buscarPersonaSocio()" >
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                    <div ng-show="formCrearSocio.numeroDocumentoSocio.$invalid && control.submitted">
                        <p class="help-block" ng-show="formCrearSocio.numeroDocumentoSocio.$error.required">
                            Ingrese Numero Documento Valido.
                        </p>
                        <p class="help-block" ng-show="formCrearSocio.numeroDocumentoSocio.$error.minlength">
                            Minimo 1 Caracter.
                        </p>
                        <p class="help-block" ng-show="formCrearSocio.numeroDocumentoSocio.$error.maxlength">
                            Maximo <span ng-bind="transaccion.tipoDocumentoSocio.numeroCaracteres"/> Caracteres.
                        </p>
                        <p class="help-block" ng-show="formCrearSocio.numeroDocumentoSocio.$error.pattern">
                            Numero Documento Invalido.
                        </p>
                    </div>
                    <div ng-show="control.errorForm.socio && control.submitted">
                        <p class="help-block" ng-show="control.errorForm.socio">
                            Debe Tener <span ng-bind="transaccion.tipoDocumentoSocio.numeroCaracteres"/> Caracteres.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" ng-show="!socio">
                <div class="form-group">
                    <label>&nbsp;</label>
                    <div class="input-group">
                        <button type="button" ng-click="crearPersonaSocio()" class="btn btn-link">Registrar Persona</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group" ng-class="{ 'has-error' : formCrearSocio.tipoDocumentoApoderado.$invalid && control.submitted}">
                    <label>Tipo Documento Apoderado</label>
                    <select name="tipoDocumentoApoderado" ng-options="tipoDocumento as tipoDocumento.abreviatura for tipoDocumento in tipoDocumentosApoderado | orderBy : 'id'" ng-model="transaccion.tipoDocumentoApoderado" class="form-control">
                    </select>
                    <div ng-show="formCrearSocio.tipoDocumentoApoderado.$invalid && control.submitted">
                        <p class="help-block" ng-show="formCrearSocio.tipoDocumentoApoderado.$error.required">
                            Seleccione Tipo Documento.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group" ng-class="{ 'has-error' : (formCrearSocio.numeroDocumentoApoderado.$invalid || control.errorForm.apoderado) && control.submitted}">
                    <label>Numero Documento Apoderado</label>
                    <div class="input-group">
                        <input type="text" id="txtNumeroDocumentoApoderado" name="numeroDocumentoApoderado" ui-keypress="{13:'buscarPersonaApoderado($event)'}" ng-model="transaccion.numeroDocumentoApoderado" ng-minlength="1" ng-maxlength="{{tipoDocumentoApoderado.numeroCaracteres}}" ng-trim="true" ng-pattern="/^[0-9]+$/" class="form-control" placeholder="Numero Documento"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="buscarPersonaApoderado()" >
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                    <div ng-show="formCrearSocio.numeroDocumentoApoderado.$invalid && control.submitted">
                        <p class="help-block" ng-show="formCrearSocio.numeroDocumentoApoderado.$error.required">
                            Ingrese Numero Documento Valido.
                        </p>
                        <p class="help-block" ng-show="formCrearSocio.numeroDocumentoApoderado.$error.minlength">
                            Minimo 1 Caracter.
                        </p>
                        <p class="help-block" ng-show="formCrearSocio.numeroDocumentoApoderado.$error.maxlength">
                            Maximo <span ng-bind="transaccion.tipoDocumentoSocio.numeroCaracteres"/> Caracteres.
                        </p>
                        <p class="help-block" ng-show="formCrearSocio.numeroDocumentoApoderado.$error.pattern">
                            Numero Documento Invalido.
                        </p>
                    </div>
                    <div ng-show="control.errorForm.apoderado && control.submitted">
                        <p class="help-block" ng-show="control.errorForm.apoderado">
                            Debe Tener <span ng-bind="transaccion.tipoDocumentoApoderado.numeroCaracteres"/> Caracteres.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" ng-show="!apoderado">
                <div class="form-group" ng-class="{ 'has-error' : formCrearPendiente.boveda.$invalid && control.submitted}">
                    <label>&nbsp;</label>
                    <div class="input-group">
                        <button type="button" class="btn btn-link" ng-click="crearPersonaApoderado()">Registrar Persona</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5">
                <div class="form-group" ng-class="{ 'has-error' : formCrearPendiente.boveda.$invalid && control.submitted}">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading" style="font-weight: bold;">Socio</div>
                        <div class="panel-body" ng-hide="socio">
                            <p>No Registrado</p>
                        </div>
                        <table class="table" ng-show="socio">

                            <tbody ng-show="transaccion.tipoPersona == 'NATURAL'">
                            <tr>
                                <td style="font-weight: bold; font-size: 12px;">Documento:</td>
                                <td style="font-size: 12px;"><span ng-bind-template="{{socio.tipoDocumento.abreviatura}}/{{socio.numeroDocumento}}"/></td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold; font-size: 12px;">Ap. y Nombres:</td>
                                <td style="font-size: 12px;"><span ng-bind-template="{{socio.apellidoPaterno}} {{socio.apellidoMaterno}}, {{socio.nombres}}"/></td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold; font-size: 12px;">Fecha Nac:</td>
                                <td style="font-size: 12px;"><span ng-bind="socio.fechaNacimiento | date:'dd/MM/yyyy'"/></td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold; font-size: 12px;">Sexo:</td>
                                <td style="font-size: 12px;"><span ng-bind="socio.sexo"/></td>
                            </tr>
                            </tbody>

                            <tbody ng-show="transaccion.tipoPersona == 'JURIDICA'">
                            <tr>
                                <td style="font-weight: bold; font-size: 12px;">Documento:</td>
                                <td style="font-size: 12px;"><span ng-bind-template="{{socio.tipoDocumento.abreviatura}}/{{socio.numeroDocumento}}"/></td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold; font-size: 12px;">Razón Social:</td>
                                <td style="font-size: 12px;"><span ng-bind="socio.razonSocial"/></td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold; font-size: 12px;">Fecha Const:</td>
                                <td style="font-size: 12px;"><span ng-bind="socio.fechaConstitucion | date:'dd/MM/yyyy'"/></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div>
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading" style="font-weight: bold;">Apoderado</div>
                        <div class="panel-body" ng-hide="apoderado">
                            <p>No Registrado</p>
                        </div>
                        <table class="table" ng-show="apoderado">
                           <tbody>
                           <tr>
                               <td style="font-weight: bold; font-size: 12px;">Documento:</td>
                               <td style="font-size: 12px;"><span ng-bind-template="{{apoderado.tipoDocumento.abreviatura}}/{{apoderado.numeroDocumento}}"/></td>
                           </tr>
                           <tr>
                               <td style="font-weight: bold; font-size: 12px;">Ap. y Nombres:</td>
                               <td style="font-size: 12px;"><span ng-bind-template="{{apoderado.apellidoPaterno}} {{apoderado.apellidoMaterno}}, {{apoderado.nombres}}"/></td>
                           </tr>
                           <tr>
                               <td style="font-weight: bold; font-size: 12px;">Fecha Nac:</td>
                               <td style="font-size: 12px;"><span ng-bind="apoderado.fechaNacimiento | date:'dd/MM/yyyy'"/></td>
                           </tr>
                           <tr>
                               <td style="font-weight: bold; font-size: 12px;">Sexo:</td>
                               <td style="font-size: 12px;"><span ng-bind="apoderado.sexo"/></td>
                           </tr>
                           </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="submit" class="btn btn-primary" ng-disabled="buttonDisableState()">Guardar</button>
        <button type="button" class="btn btn-default" ng-click="cancelar()">Cancelar</button>
    </form>
</div>
