<script type="text/javascript" src="bower_components/qz-print/js/printer.js"></script>
<script type="text/javascript" src="bower_components/qz-print/js/deployJava.js"></script>
<script type="text/javascript" src="bower_components/qz-print/js/jquery-1.10.2.js"></script>
<script type="text/javascript" src="bower_components/qz-print/js/html2canvas.js"></script>
<script type="text/javascript" src="bower_components/qz-print/js/jquery.plugin.html2canvas.js"></script>

<div ng-controller="VoucherCerrarCajaController">
<div class="row">
<div class="col-md-6">
    <div>
        <fieldset>
            <legend>Resumen de operaciones</legend>
        </fieldset>
    </div>
    <div class="panel panel-default">
        <table class="table">
            <tbody>
            <tr>
                <td>AGENCIA:</td>
                <td>{{resumenCaja.agencia}}</td>
            </tr>
            <tr>
                <td>CAJA:</td>
                <td>{{resumenCaja.caja}}</td>
            </tr>
            <tr>
                <td>FECHA APERTURA:</td>
                <td>{{resumenCaja.fechaApertura | date : "dd/MM/yyyy"}}</td>
                <td>HORA APERTURA:</td>
                <td>{{resumenCaja.horaApertura | date : "hh:mm:ss"}}</td>
            </tr>
            <tr>
                <td>FECHA CIERRE:</td>
                <td>{{resumenCaja.fechaCierre | date : "dd/MM/yyyy"}}</td>
                <td>HORA APERTURA:</td>
                <td>{{resumenCaja.horaCierre | date : "hh:mm:ss"}}</td>
            </tr>
            <tr>
                <td>TRABAJADOR:</td>
                <td colspan="3">FLORE HUERTAS, JHON WILBER</td>
            </tr>
            </tbody>
        </table>
        <div class="center-block" style="width: 98%;">
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                <tr>
                    <th colspan="4">
                        DEPOSITOS(TOTAL): {{resumenCaja.depositosAporte + resumenCaja.depositosAhorro + resumenCaja.depositosPlazoFijo + resumenCaja.depositosCorriente}}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>C. Aporte</td>
                    <td>{{resumenCaja.depositosAporte}}</td>
                    <td>C. Ahorro</td>
                    <td>{{resumenCaja.depositosAhorro}}</td>
                </tr>
                <tr>
                    <td>C. Plazo fijo</td>
                    <td>{{resumenCaja.depositosPlazoFijo}}</td>
                    <td>C. Corriente</td>
                    <td>{{resumenCaja.depositosCorriente}}</td>
                </tr>
                </tbody>
            </table>
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                <tr>
                    <th colspan="4">
                        RETIROS(TOTAL): {{resumenCaja.retirosAporte+resumenCaja.retirosAhorro+resumenCaja.retirosPlazoFijo+resumenCaja.retirosCorriente}}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>C. Aporte</td>
                    <td>{{resumenCaja.retirosAporte}}</td>
                    <td>C. Ahorro</td>
                    <td>{{resumenCaja.retirosAhorro}}</td>
                </tr>
                <tr>
                    <td>C. Plazo fijo</td>
                    <td>{{resumenCaja.retirosPlazoFijo}}</td>
                    <td>C. Corriente</td>
                    <td>{{resumenCaja.retirosCorriente}}</td>
                </tr>
                </tbody>
            </table>
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                <tr>
                    <th colspan="4">
                        COMPRA/VENTA(TOTAL): {{resumenCaja.compra + resumenCaja.venta}}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Compra</td>
                    <td>{{resumenCaja.compra}}</td>
                    <td>Venta</td>
                    <td>{{resumenCaja.venta}}</td>
                </tr>
                </tbody>
            </table>
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                <tr>
                    <th colspan="4">
                        MAYOR CUANTIA(TOTAL): {{resumenCaja.depositoMayorCuantia+resumenCaja.retiroMayorCuantia+resumenCaja.compraVentaMayorCuantia}}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Depositos</td>
                    <td>{{resumenCaja.depositoMayorCuantia}}</td>
                    <td>Retiro</td>
                    <td>{{resumenCaja.retiroMayorCuantia}}</td>
                </tr>
                <tr>
                    <td>Compra/venta:</td>
                    <td colspan="3">{{resumenCaja.compraVentaMayorCuantia}}</td>
                </tr>
                </tbody>
            </table>
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                <tr>
                    <th colspan="4">
                        TRANS. CAJA-CAJA(TOTAL): {{resumenCaja.enviadoCajaCaja+resumenCaja.recibidoCajaCaja}}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Enviados:</td>
                    <td>{{resumenCaja.enviadoCajaCaja}}</td>
                    <td>Recibidos:</td>
                    <td>{{resumenCaja.recibidoCajaCaja}}</td>
                </tr>
                </tbody>
            </table>
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                <tr>
                    <th colspan="4">
                        TRANS. CAJA-BOVEDA(TOTAL): {{resumenCaja.enviadoCajaCaja+resumenCaja.recibidoCajaCaja}}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Enviados:</td>
                    <td>{{resumenCaja.enviadoCajaCaja}}</td>
                    <td>Recibidos:</td>
                    <td>{{resumenCaja.recibidoCajaCaja}}</td>
                </tr>
                </tbody>
            </table>
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                <tr>
                    <th colspan="4">CIERRE CAJA(PENDIENTE)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Sobrantes:</td>
                    <td>{{resumenCaja.sobrante}}</td>
                    <td>Faltantes:</td>
                    <td>{{resumenCaja.faltante}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <button type="button" class="btn btn-primary" ng-click="imprimirResumen()">Imprimir</button>
</div>


<div class="col-md-6">
    <tabset justified="true">
        <tab ng-repeat="voucher in voucherByMoneda" heading="{{voucher.moneda.simbolo}} {{voucher.moneda.denominacion}}">
            <div>
                <fieldset>
                    <legend>Cierre caja</legend>
                </fieldset>
            </div>
            <div class="panel panel-default">
                <table class="table">
                    <tbody>
                    <tr>
                        <td>AGENCIA:</td>
                        <td>{{voucher.caja}}</td>
                    </tr>
                    <tr>
                        <td>CAJA:</td>
                        <td>{{voucher.caja}}</td>
                    </tr>
                    <tr>
                        <td>FECHA APERTURA:</td>
                        <td>{{voucher.fechaApertura | date:"dd/MM/yyyy"}}</td>
                        <td>HORA APERTURA:</td>
                        <td>{{voucher.horaApertura | date:"hh:mm:ss"}}</td>
                    </tr>
                    <tr>
                        <td>FECHA CIERRE:</td>
                        <td>{{voucher.fechaCierre | date:"dd/MM/yyyy"}}</td>
                        <td>HORA CIERRE:</td>
                        <td>{{voucher.horaCierre | date:"hh:mm:ss"}}</td>
                    </tr>
                    <tr>
                        <td>TRABAJADOR:</td>
                        <td colspan="3">{{voucher.trabajador}}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="center-block" style="width: 98%;">
                    <table class="table table-striped table-bordered table-condensed">
                        <thead>
                        <tr>
                            <th>Denominacion</th>
                            <th>cantidad</th>
                            <th>Subtotal</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="detalle in voucher.detalle">
                            <td>{{detalle.valor}}</td>
                            <td>{{detalle.cantidad}}</td>
                            <td>{{(detalle.valor*detalle.cantidad) | currency : ""}}</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="3">
                                <p>
                                    <strong>Total:</strong>
                                    {{total(voucher.detalle)}}
                                </p>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>

                <table class="table">
                    <tbody>
                    <tr>
                        <td>Saldo Ayer:</td>
                        <td>{{voucher.saldoAyer | currency : ""}}</td>
                    </tr>
                    <tr>
                        <td>Entradas:</td>
                        <td>{{voucher.entradas | currency : ""}}</td>
                    </tr>
                    <tr>
                        <td>Salidas:</td>
                        <td>{{voucher.salidas | currency : ""}}</td>
                    </tr>
                    <tr>
                        <td>Sobrantes de caja:</td>
                        <td>{{voucher.sobrante | currency : ""}}</td>
                    </tr>
                    <tr>
                        <td>Faltantes de caja:</td>
                        <td>{{voucher.faltante | currency : ""}}</td>
                    </tr>
                    <tr>
                        <td>Saldo por devolver:</td>
                        <td>{{voucher.porDevolver | currency : ""}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <button type="button" class="btn btn-primary">Imprimir</button>
        </tab>
    </tabset>
</div>
</div>
</div>